<%= form_for([:admin, @event]) do |f| %>
	<%= render :partial => "/admin/shared/header" %>
	<%= render :partial => "/admin/shared/tabs" %>
	<% if @event.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

			<ul>
				<% @event.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<style type="text/css">


		.image img{

			width: 100%;
			height: 100%;
		}
		.adminCt2 {
			padding: 10px;
			border: 1px solid grey;
			padding-top:30px;
			margin-top: 10px;


		}
		.image {

			padding-bottom: 10px;
			border-bottom:1px dashed grey;

		}

		table .first_col {
			margin: 0px;
			padding: 0px;
			width: 15%;
			min-height: 100%;
			padding-right: 25px;

		}

		table .first_col .bottomTopMargin10 {

			margin-bottom:10px;
			margin-top:10px;
		}
		.field {
			position: relative;
			padding-top: 10px;
		}
	.fileCross{
		position: absolute;
		right:-15px;
		top:-10px;
	}
	</style>
	<div class="adminCt2">
		<div class="actions">
			<%= f.submit "SAVE"%>
		</div>
		<table class="events_table">
			<tr>
				<td  class="first_col" rowspan="4">
					<div class="image">
						<div class="field">

						<%img1 = "/images/events/" + @event[:id].to_s+"-0.jpg"%>
							
						<%if FileTest.exist?(Rails.root.to_s + "/public" + img1)%>
  						<img src="<%=img1%>"></img>

  						<%= link_to "", "/file_delete" + img1,:remote => true, :confirm => 'Are you sure?', :class=>"adminSprite crossIcon fileCross",:onclick => 'hide_image(this)' %>

						<%else%>
  						<img src="/images/no-image.jpg"></img>
						<%end%>

							<%#= f.label :image_0, 'upload a picture' %><br />
							<%= f.file_field :image_0 %>

						</div>
						<div class="field">
							<%=f.label :caption_0, 'caption' %>
							<%=f.text_field :caption_0%>
						</div>
				</td>
				<td> <%= f.label :title %><br /></td>
				<td> <%= f.text_field :title %></td>
			</tr>


			<tr>
				<td><%= f.label :day , 'Start Date'%></td>
				<td><%= f.text_field :day, :class => "datepicker", :value => date_dmY(@event.day)%></td>
			</tr>

			<tr>
				<td><%= f.label :end_date , 'End Date'%></td>
				<%if @event.end_date.present?%>
					<td><%= f.text_field :end_date, :class => "datepicker", :value => date_dmY(@event.end_date)%></td>
				<%else%>
					<td><%= f.text_field :end_date, :class => "datepicker", :value => ""%></td>
				<%end%>
			</tr>


			<tr><td><%= f.label :other_description ,'Offer Description'%></td>
				<td><%= f.text_area :other_description %></td>
			</tr>


			<tr>

				<td  class="first_col" rowspan="4">
					<div class="image">
						<div class="field">
						<%img2 = "/images/events/" + @event[:id].to_s+"-1.jpg"%>
							
						<%if FileTest.exist?(Rails.root.to_s + "/public" + img2)%>
  						<img src="<%=img2%>"></img>
  						<%= link_to "", "/file_delete" + img2,:remote => true, :confirm => 'Are you sure?', :class=>"adminSprite crossIcon fileCross",:onclick => 'hide_image(this)' %>

						<%else%>
  						<img src="/images/no-image.jpg"></img>
						<%end%>
							<%#= f.label :image_1, 'upload a picture' %><br />
							<%= f.file_field :image_1 %>

						</div>
						<div class="field">
							<%=f.label :caption_1, 'caption' %>
							<%=f.text_field :caption_1%>
						</div>
				</td>

				<td><%= f.label :event_type %></td>
				<td><%= f.select :event_type ,["workshops","seminars","visits","lectures"] %></td>



			</tr>
			<tr>
				<td><%= f.label :fees %></td>
				<td><%= f.text_field :fees %></td>
			</tr>
			<tr>
				<td><label>Workshop Videos</label></td>
				<td>

					<%= f.fields_for :workshop_videos do |g| %>
						<%= render "workshop_video_fields", :f => g %>
					<% end %>
					<p><%= link_to_add_fields "Add Workshop Video", f, :workshop_videos %></p>

				</td>
			</tr>

			<tr>
				<td><%= f.label :description %></td>
				<td><%= f.text_area :description %></td>

			</tr>


			<tr>

				<td  class="first_col" rowspan="2">
					<div class="image">
						<div class="field">
						<%img3 = "/images/events/" + @event[:id].to_s+"-2.jpg"%>
							
						<%if FileTest.exist?(Rails.root.to_s + "/public" + img3)%>
  						<img src="<%=img3%>"></img>
  						<%= link_to "", "/file_delete" + img3,:remote => true, :confirm => 'Are you sure?', :class=>"adminSprite crossIcon fileCross",:onclick => 'hide_image(this)' %>

						<%else%>
  						<img src="/images/no-image.jpg"></img>
						<%end%>
							<%= f.label :image_2, 'upload a picture' %><br />
							<%= f.file_field :image_2 %>

						</div>
						<div class="field">
							<%=f.label :caption_2, 'caption' %>
							<%=f.text_field :caption_2%>
						</div>
					</div>
				</td>
				<td><label>Testimonial Videos</label></td>
				<td>
					<%= f.fields_for :testimonial_videos do |e| %>
						<%= render "testimonial_video_fields", :f => e %>
					<% end %>
					<p><%= link_to_add_fields "Add Testimonial Video", f, :testimonial_videos %></p>
				</td>
			</tr>
			<tr>
				<td><label>Testimonials</label></td>
				<td>
					<%= f.fields_for :testimonials do |h| %>
						<%= render "testimonial_fields", :f => h %>
					<% end %>
					<p><%= link_to_add_fields "Add Testimonial", f, :testimonials %></p>


				</td>
			</tr>

		</table>		
	</div>
	<script>


		$(function() {
			$( ".datepicker" ).datepicker({

				dateFormat : "dd MM yy",
				changeMonth : true,
				changeYear : true

			});
		});

		$("document").ready(function(){
			$(".actions input").css({

				left: (($(window).width()-980)/2 + (980-60)).toString() + "px"
			}) ;

		})
		var hide_image = function(el){
			$(el).prev().attr("src","/images/no-image.jpg")
		}
	</script>
	
<% end %>
