
<style type="text/css">



	.image img{

		width: 100%;
		height: 100%;
	}
	.adminCt2 {
		padding: 10px;
		border: 1px solid grey;
		padding-top:30px;
		margin-top: 10px;
	}
	.image {

		padding-bottom: 10px;
		border-bottom:1px dashed grey;

	}

	table .first_col {
		margin: 0px;
		padding: 0px;
		width: 15%;
		min-height: 100%;
		padding-right: 25px;

	}

	table .first_col .bottomTopMargin10 {

		margin-bottom:10px;
		margin-top:10px;
	}

	<% if @original_type == "videos" %>

		table .first_col {
			display: none;

		}

		table {
			width: 64%;
		}
		table td {
			padding: 0px 40px 10px 40px;
		}

	<%end%>

</style>
<link rel="stylesheet" type="text/css" href="/styles/jquery-ui.css"></link>
<link rel="stylesheet" type="text/css" href="/styles/tinymce/content.min.css"></link>
<link rel="stylesheet" type="text/css" href="/styles/tinymce/skin.min.css"></link>
<script src="/scripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/tinymce.min.js"></script>
<!--<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>-->
<script src="/scripts/tag-it.js"></script>
<%= form_for([:admin, @article]) do |f| %>
	<%= render :partial => "/admin/shared/header" %>
	<%= render :partial => "/admin/shared/tabs" %>
	<% if @article.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

			<ul>
				<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="adminCt2">
		<div class="actions">
			<%= f.submit "save"%>
		</div>
		<table class="article_table">
			<tr  class="admin-article-field">
				<td class="first_col" rowspan="4">
					<div class="image">
						<div class="field">
							<img src="/images/articles/<%=@article[:id]%>-0.jpg"></img>
							<%= f.label :file_caption_0, 'upload a picture' %><br />
							<%= f.file_field :file_caption_0 %>

						</div>
						<div class="field">
							<%=f.label :caption_0, 'caption' %>
							<%=f.text_field :caption_0%>
						</div>
					</div>

				</td>
				<td><%= f.label :title  ,(@type.capitalize + " Title:") %></td>
				<td><%= f.text_field :title %></td>
			</tr>
			<tr class="admin-article-field">
				<td><label>Subject / Category:</label></td>
				<td><ul id="myTags">
						<%@tags.each{|tag|%>
							<li><%=tag[:title]%></li>
						<%}%>

					</ul></td>
			</tr>
			<tr class="admin-article-field">
				<td><label>By:</label></td>
				<td>
					<%= f.fields_for :doctors do |g| %>
						<%= render "doctor_fields", :f => g %>

					<% end %>
					<p><%= link_to_add_fields "Add doc", f, :doctors %></p>
				</td>
			</tr>

			<tr>
				<td><%= f.label :youtubeurl, "Youtube Video Url:" %>
					<% if @original_type == "videos" %> <br/><br/> Description: <%end%>
				</td>
				<td><%= f.text_field :youtubeurl %></td>
			</tr>
			<tr>
				<td class="first_col">
					<div class="image floatLeft bottomTopMargin10">
						<div class="field">
							<img src="/images/articles/<%=@article[:id]%>-1.jpg"></img>
							<%= f.label :file_caption_1, 'upload another picture' %><br />
							<%= f.file_field :file_caption_1 %>

						</div>
						<div class="field">
							<%=f.label :caption_1, 'caption' %>
							<%=f.text_field :caption_1%>
						</div>
					</div>
					<div class="image">
						<div class="field">
							<img src="/images/articles/<%=@article[:id]%>-2.jpg" ></img>

							<%= f.label :file_caption_2, 'upload one more picture' %><br />
							<%= f.file_field :file_caption_2 %>
						</div>
						<div class="field">
							<%=f.label :caption_2, 'caption' %>
							<%=f.text_field :caption_2%>
						</div>
					</div>

				</td>
				<%-#<td><%= f.label :content ></td>-%>
				<td colspan="2" style="padding-top=10px;"><%= f.text_area :content, :cols => 120, :rows=>30 %>
					<%= f.hidden_field :origin_type, :value => @original_type.to_s%>
				</td>
			</tr>

		</table>

		<%-# image files are being uploaded as file_caption_0 etc , caption texts are going as caption_0 etc -%>
	</div>
<% end %>

<script type="text/javascript">

	tinymce.init({
		selector:'textarea',
		toolbar: " bold italic underline",
		menubar : false
	});


	$(document).ready(function() {
		$(".actions input").css({

			left: (($(window).width()-980)/2 + (980-60)).toString() + "px"
		}) ;

		$("#myTags").tagit({
			fieldName: "tags[]",
			availableTags: (function(tags){
				var tagArr = [];
				for(var i=0;i<tags.length;i++){
					tagArr.push(tags[i].title)
				}
				return tagArr;
			})(<%=raw @all_tags.to_json%>),
			autocomplete: {delay: 0, minLength: 1}
		});
	});

</script>