<%= render :partial => "/admin/shared/header" %>
<%= render :partial => "/admin/shared/tabs" %>
<div class="articleList">
  <div class="upperbar">
		<h2 class="floatLeft"><%=@original_type.humanize%> Dashboard</h2>
		<div class="page floatRight">
			<ul></ul>
		</div>
		<%= button_to 'New '+ @type, "/admin/#{@section}/#{@original_type}/new",:class=>"btn btn_newArticle floatRight",:method => :get %>
		<div style="clear:both"></div>

	</div>
	<table >
		<tr>
			<th>Date</th>
			<th>Title</th>

			<th><%=@type%> By</th>
			<th>Subcategories</th>
			<th>Last Modified On</th>
			<th>Delete</th>
		</tr>

		<% @articles.each do |article| %>
			<tr>
				<td><%= article.created_at.strftime("%d-%m-%Y") %></td>
				<td><%= link_to article.title, "/admin/#{@section}/#{@original_type}/#{article.id}/edit",:style=>"color:blue;" %></td>
				<td><%= article.doctors.select('distinct name').collect { |p| p.name }.join(',') unless article.doctors.blank? %></td>
				<td><%=article.tags.select('distinct title').collect { |p| p.title }.join(',')%></td>
				<td><%= article.updated_at.strftime("%d-%m-%Y") %></td>
				<td><a data-confirm="Are you sure?" data-method="delete" rel="nofollow" href=<%="/admin/#{@section}/articles/#{article.id}/"%>><span class="adminSprite crossIcon"></span></a></td>

			</tr>
		<% end %>
	</table>

	<br />


</div>
