<style type="text/css">

table td{
	vertical-align:center;
}
<% if @original_type == "case-studies" %>
	.upperbar .btn_newArticle{
		width: 115px;
	}
<%end%>
</style>
<%= render :partial => "/admin/shared/header" %>
<%= render :partial => "/admin/shared/tabs" %>
<div class="articleList">
  <div class="upperbar">
		<h2 class="floatLeft"><%=@original_type.humanize%> Dashboard</h2>
		<div class="page floatRight">
			<ul></ul>
		</div>
		<%= button_to 'Add '+ @type, "/admin/#{@section}/#{@original_type}/new",:class=>"btn btn_newArticle floatRight",:method => :get %>
		<div style="clear:both"></div>

	</div>
	<table class="admin-list">
		<tr>
			<th>Date</th>
			<th>Title</th>

			<th><%=@type.titlecase%> By</th>
			<th>Subcategories</th>
			<th>Last Modified On</th>
			<th>Delete</th>
		</tr>

		<% @articles.each do |article| %>
			<tr>
				<td class="admin-article-date"><%= article.created_at.strftime("%d/%m/%Y") %></td>
				<td class="admin-article-name"><%= link_to article.title[0...40], "/admin/#{@section}/#{@original_type}/#{article.id}/edit",:style=>"color:blue;" %></td>
				<td class="admin-article-by"><%= article.doctors.select('distinct name').collect { |p| p.name }.join(',') unless article.doctors.blank? %></td>
				<td class="admin-article-tags"><%=article.tags.select('distinct title').collect { |p| p.title }.join(',')%></td>
				<td class="admin-article-updatedAt"><%= article.updated_at.strftime("%d/%m/%Y") %></td>
				<td class="admin-article-delete"><a data-confirm="Are you sure?" data-method="delete" rel="nofollow" href=<%="/admin/#{@section}/articles/#{article.id}/"%>><span class="adminSprite crossIcon"></span></a></td>

			</tr>
		<% end %>
	</table>

	<br />


</div>
