<div class="articleList">
<h1>Listing articles</h1>

<table style="margin:auto;">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th>Source</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.name %></td>
    <td><%= article.title %></td>
    <td><%= article.content[0..200] %>...</td>
    <td><%= article.source %></td>
    <td><%= article.type %></td>
    <td><%= link_to 'Edit', "/admin/#{@section}/articles/#{article.id}/edit",:style=>"color:red;" %></td>
    <td><%= link_to 'Show', "/admin/#{@section}/articles/#{article.id}/",:style=>"color:red;" %></td>
    <td><%= link_to 'Destroy',"/admin/#{@section}/articles/#{article.id}/", confirm: 'Are you sure?', method: :delete ,:style=>"color:red;"%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New '+ @type, "/admin/#{@section}/articles/new" ,:style=>"color:blue;"%>
</div>
