<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>
<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p>
  <b>Source:</b>
  <%= @article.source %>
</p>
<p>
  <b>Type:</b>
  <%= @article.type %>
</p>

<p>
  <b>Image 1 caption:</b>
 <%= @article.file_caption_0 %>
</p>
<p>
  <b>Image 1 caption:</b>
 <%= @article.file_caption_1 %>
</p>
<p>
  <b>Image 1 caption:</b>
 <%= @article.file_caption_2 %>
</p>

<p>
  <b>Youtube Video:</b>
 <%= @article.youtubeurl %>
</p>

<%-# image_tag (Rails.root.join('public', 'images','articles') + @article.get_image) -%>
<td><%= link_to 'Edit', edit_admin_article_path(@article),:style=>"color:red;" %></td>
<%= link_to 'Articles list', admin_articles_path ,:style=>"color:red;"%>