<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>
<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p>
  <b>Source:</b>
  <%= @article.source %>
</p>
<p>
  <b>Type:</b>
  <%= @article.type %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag Rails.root.join('public', 'images','articles') + @article.get_image %>
</p>

<%= link_to 'Back', admin_articles_path %>