<%
@titles = [["",0],["Consultancy/ Faculty", 1],
	["Sr. Resident Doctors", 2],
	["Resident Doctors", 3],
	["Curriculum", 4],
	["Marketing and PR (Academy)", 5],
	["Accreditation and Resources", 6],
	["Publication", 7],
	["Marketing and PR (Clinic)", 8],
	["Visiting", 9]]
%>
<%= form_for([:admin, @doctor]) do |f| %>
	<%= render :partial => "/admin/shared/header" %>
	<%= render :partial => "/admin/shared/tabs" %>
	<% if @doctor.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

			<ul>
				<% @doctor.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>

			</ul>
		</div>
	<% end %>
<table class="docEditor">
		<tr>
			<td><%= f.label :name %><br /></td>
			<td>:</td>
			<td><%= f.text_field :name %></td>
		</tr>
		<tr>
			<td><%= f.label :title %><br /></td>
			<td>:</td>
			<td><%= f.select :title, @titles %></td>
		</tr>
		<tr>
			<td><%= f.label :description %><br /></td>
			<td>:</td>
			<td><%= f.text_area :description ,:row=>"20",:class=>"doc_text" %></td>
		</tr>

		<tr class="urls">
			<td>URLs</td>
			<td>:</td>
			<td>
				<input type="text" name="doctor_urls[]"></input>
				<input id="addUrl" type="button" value="add url"></input>
			</td>
		</tr>
		<%if @doctor.urls.size != 0%>
			<%@doctor.urls.each{|url|%>
				<tr class="url">
					<td></td>
					<td>:</td>
					<td>
						<input type="text" name="doctor_urls[]" value="<%=url[:title]%>"></input>
						<input type="button" value="remove url" class="removeUrl"></input><br />
					</td>
				</tr>
			<%}%>
		<%end%>
		<tr>
			<td><%= f.label :picture, 'upload a picture' %><br /></td>
			<td>:</td>
			<td>
				<%= f.file_field :picture %><br />
				<img src="/images/doctors/<%=@doctor[:id]%>.jpg" height="160" width="160"></img>
				
			</td>
		</tr>
	</table>

	<!--<div class="field">
	<img src="/images/doctors/<%=@doctor[:id]%>.jpg" height="160" width="160"></img>
	<%= f.label :picture, 'upload a picture' %><br />
	<%= f.file_field :picture %>
	</div>-->
	<div class="actions docEditor">
		<%= f.submit "SAVE" %>
		<%= link_to 'Back', "/admin/#{@section}/doctors" %>		
	</div>
<% end %>
<style type="text/css">
	.doc_text {
		width: 600px;

	}
</style>
<script>
	$("#addUrl").click(function(){
		$('.urls').after('<tr>' +
			'<td></td>' +
			'<td>:</td>' +
			'<td>' +
			'<input type="text" name="doctor_urls[]"></input>' +
			'</td>' +
			'</tr>');
	});
	$(".removeUrl").click(function(){
		$(this).parent().parent().remove();
	});
</script>