<style>
	a, a:hover{
		color: #fff;
	}

</style>
<h1>Listing doctors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>URL</th>
    <th>Description</th>
  </tr>

<% @doctors.each do |doctor| %>
  <tr>
    <td><%= doctor.name %></td>

    <!--<td><%= link_to 'Show', [:admin,doctor] %></td>
    <td><%= link_to 'Edit', edit_admin_doctor_path(doctor) %></td>
    <td><%= link_to 'Destroy', [:admin,doctor], confirm: 'Are you sure?', method: :delete %></td>
		<td><%= link_to 'Show', [:admin, doctor] %></td>-->
    <td><%= link_to 'Edit', "/admin/#{@section}/doctors/#{doctor.id}/edit" %></td>
    <td><%= link_to 'Destroy', [:admin, doctor], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Doctor', "/admin/#{@section}/doctors/new" %>