<style>
	a, a:hover{
		color: #fff;
	}
	.outer_table {
		width:980px;

	}

	td {
		display:inline-block;
		width:295px;
		height:200px;		
		padding:10px 15px 0px 11px;
		border-right:1px dashed lightgrey;
		border-bottom:1px dashed lightgrey;
		margin-bottom: 5px;
		position: relative;

	}
	p img {

		left:0px;
		margin:3px;
	}
	.tdContent {
		padding:6px 6px 4px 6px;
		border: 1px solid grey;
		display: block;

	}
	.tdText {



	}
</style>
<% col = 0 %>
<table class="outer_table">
  	<% @doctors.each do |doctor| %>
			<%if col%3 == 0%>
				<tr>
			<%end%>

		<td>
			<div class="tdContent">
			<div class="floatLeft"><img src="/images/doctors/<%=doctor.id%>.jpg" height="80" width="60"></img></div>
			<div class="tdText">
			Name:  <%= doctor.name %><br/>
			Title: <%= doctor.title %><br/>
			Urls:  <% doctor.urls.each do |url| %>
						<%=url.title%>,
					<%end%>
			
					<p>&nbsp</p>
			Description: <br/><%= doctor.description %><br/>
		
			<%= link_to 'Edit', "/admin/#{@section}/doctors/#{doctor.id}/edit" %><br/>
			<%= link_to 'Delete', [:admin, doctor], confirm: 'Are you sure?', method: :delete %>
			</div>
			</div>
		</td>
			
			<% col = col + 1 %>
			<%if col%3 == 0%>
				</tr>
			<%end%>
		
	<% end %>
</table>

<br />
<div class="actions">
	<a href="/admin/academy/doctors/new"><input type="button" value="New Team Member"/></a>
</div>

