<style>
	a, a:hover{
		color: #fff;
	}
	.outer_table {
width:980px;

	}
	tr th{
		background: black;
		color: #fff;
	}

	td {
		display:inline-block;
		width:295px;
		height:200px;
		border: 1px solid grey;
		margin:10px 12px 0px 12px;
	
	}
	p img {

		float: left;
		margin:3px;
	}
</style>
<h1>Listing doctors</h1>
<% col = 0 %>
<table class="outer_table">
  	<% @doctors.each do |doctor| %>
			<%if col%3 == 0%>
				<tr>
			<%end%>

		<td>
			<p><img src="/images/doctors/<%=doctor.id%>.jpg" height="80" width="60"></img></p>
			Name:  <%= doctor.name %><br/>
			Title: <%= doctor.title %><br/>
			Description: <br/><%= doctor.description %><br/>
		
			<%= link_to 'Edit', "/admin/#{@section}/doctors/#{doctor.id}/edit" %><br/>
			<%= link_to 'Delete', [:admin, doctor], confirm: 'Are you sure?', method: :delete %>
		</td>
			
			<% col = col + 1 %>
			<%if col%3 == 0%>
				</tr>
			<%end%>
		
	<% end %>
</table>

<br />
<div class="actions">
	<a href="/admin/academy/doctors/new"><input type="button" value="New Team Member"/></a>
</div>

