<style>
	@font-face {
		font-family: 'tisapro';
		font-style: normal;
		font-weight: 400;
		src: local('tisapro'),url('/fonts/TisaPro_Regular.otf'); /* IE9 Compat Modes */
	}
	.aboutUs{
		float: left;
		width: 630px;
		border-right: 1px solid #666;
		padding-top: 10px;
		font-family: mavenproregular;
	}
	.aboutUs h2{
		font-family: mavenproregular;
		font-size: 32pt !important;
	}
	.news{
		height: 200px;
		margin-top: 12px;
	}

	.aboutCt{
		padding: 22px 20px 22px 10px;
		font-size: 16pt;
		min-height: 350px;
	}

	.aboutCt .blockQuote{
		border-left: 4px solid #dd0017;
		padding-left: 22px;
		font-size: 26pt;
		margin: 20px 0;
	}
</style>


<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
	<div class="padder">
		<div class="aboutUs">
			<h2 class="title"><%= t "home.about"%> </h2>
			<div class="aboutCt">
				<p class="blockQuote">The Research Academy is a dynamic collective of top homeopathic practitioners.</p>
				They lead in creating an atmosphere of quality learning through one-on-one knowledge
				sharing sessions and bring together clinical practices that facilitate classical to modern day training.
				<!--<p class="blockQuote">-->
				" Dr. Rajan Sankaran, head and principal instructor guides each student with his renowned thinking across various homeopathic systems along with other leading practitioners developing a full range of skills in future homeopaths.
				 The teachings include progressive approaches and new thinking in the field, expanding the strong classical base in accord with the latest advancements in the field.

				<!--</p>-->
				Clinical experience is crucial to homeopathic studies; students at the
				academy receive individual attention during their course, with close supervision, enabling them to think differently, while handling each case.
			</div>
		</div>
		<div class="events">
			<%= render :partial => "/static/shared/events", :locals => {:events => [
{:date => "June 15",
:day => "Sat.",
:title => "The Title Of the Event",
:sub_title => "Subtitle will come here",
:link => "/event/123"
},{:date => "June 15",
:day => "Sat.",
:title => "Event 1",
:sub_title => "skjhf dg",
:link => "/event/123"
},{:date => "June 15",
:day => "Sat.",
:title => "The Title Of the Event",
:sub_title => "Subtitle will come here",
:link => "/event/123"
},{:date => "June 15",
:day => "Sat.",
:title => "The Title Of the Event",
:sub_title => "Subtitle will come here",
:link => "/event/123"
}]}%>
		</div>
		<div class="clear"></div>
	</div>
</div>
<%= render :partial => "/static/shared/news", :locals => {:newses => [
		{
			:type => "video",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/video.jpg"
		},
		{
			:type => "gallery",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/gallary.JPG"
		},
		{
			:type => "case studies",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/case.jpg"
		},{
			:type => "video",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/video.jpg"
		},
		{
			:type => "gallery",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/gallary.JPG"
		},
		{
			:type => "case studies",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/case.jpg"
		}]}%>
