
<style type="text/css"></style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
	<h1 class="title topPadding20 leftPadding10">CUSTOMIZED COURSES</h1>
	<div style="padding: 0 10px 10px 10px;" class="bodyContent">
		Tailor made courses focused on specific requirements are available for a batch of at least 25 students. Details are provided on request.
    Write to academy@theothersong.com for further information.
	</div>
	<div id="accordion">
		<%@customized_courses.each {|customized_course|%>
			<h3><%= customized_course.title.upcase %></h3>
			<div class="bodyContent rteContent">
				<%= raw customized_course[:description] %>
				<a class="links floatRight button" target="_blank" href="<%=Rails.configuration.s3Defaults[:path]%>tos-files/production/courses/<%=customized_course.id%>.pdf">Download</a>
			</div>
		<%}%>		
	</div>

</div>
<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
</script>