
<style type="text/css"></style>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
	<h2 class="title">INTERNATIONAL COURSES</h2>
	<div class="padder">
<div id="accordion">
<h3>ADVANCED COURSES</h3>
<div>
 <p>
<%@international_courses.each {|international_course|%>

 <h1> <%= international_course.title %> </h1>

  <b>Start date:</b>
  <%= international_course.start_date %>

  <b>End date:</b>
  <%= international_course.end_date %>

<br/>
  <b>Timing:</b>
  <%= international_course.timing %>
<br/>
  <b>Venue:</b>
  <%= international_course.venue %>
<br/>
  <b>Description:</b>
  <%= international_course.description %>
<br/>
  <b>Fees:</b>
  <%= international_course.fees %>
<br/>
  <b>Discounts:</b>
  <%= international_course.discounts %>
</p>
<br/>

<%}%>
</p>

</div>
<h3>MASTER COURSES</h3>
<div>
 <p>

</p>

</div>

</div>
</div>
</div>
 <script>
$(function() {
$( "#accordion" ).accordion();
});
</script>