
<style type="text/css"></style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
	<h1 class="title leftPadding10 topPadding20">INTERNATIONAL COURSES</h1>

	<div id="accordion">
		<%@international_courses.each {|international_course|%>
			<h3><%=international_course[:title].upcase%></h3>
			<div class="bodyContent rteContent">
				<%= raw international_course[:description] %>
				<a class="links floatRight button" target="_blank" href="<%=Rails.configuration.s3Defaults[:path]%>tos-files/production/courses/<%=international_course.id%>.pdf">Download</a>
			</div>
		<%}%>
	</div>
</div>

<script>
	$(function() {
		$( "#accordion" ).accordion();
	});
</script>