<link rel="stylesheet" href="/styles/jquery-ui.css" />
<script src="/scripts/jquery-ui.js"></script>
<style>
        .blockQuote{
                margin-top: 0;
        }
        .contentWrap{
                padding-bottom: 20px;
        }
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
        <div class="padder bodyContent">
                <h2 class="title"><%= t "submenu.aboutsection.team"%> </h2>
                <p class="blockQuote blueBorder">
                        “A network of influential and diverse professors, instructors and faculty rooted in tradition. They are working professionals who are on top of their fields fostering invaluable education and superlative practical experience.”
                </p>
                The other song is a learning environment that combines real-world learning and academic theory with commitment to excellence from students, faculty, staff and administration.
                <div class="team-first-list">
                        <%@people["15"].each{|person|%>
                                <div class="floatLeft team-member">
                                        <img src="//s3-ap-southeast-1.amazonaws.com/tos-files/team-images/<%=person[:id]%>.jpg" alt="" height="178" width="208"></img>
                                        <div class="name bodyContent"><%=person[:name]%></div>                                        
                                        <div class="hidden lbContent bodyContent">                                        
                                                <img class="floatLeft marginRight10" src="//s3-ap-southeast-1.amazonaws.com/tos-files/team-images/<%=person[:id]%>.jpg" alt="" height="178" width="208"></img>
                                                <div style="min-height: 40px;" class="bodyContent">                                                        
                                                        <h2 class="subheader"><%=person[:name]%></h2>
                                                        <%=person[:description]%>
                                                </div>                                                
                                                <div class="links">
                                                        <%person.urls.each{|url|%>
                                                                <a href="<%=url%>" class="links"><%=url[:title]%></a><br />
                                                        <%}%>
                                                </div>
                                        </div>
                                </div>
                        <%}%>                        
                        <div class="clear"></div>
                </div>
        </div>
        <div id="accordion" class="team">
                <%@people.each{|title|%>                        
                        <% if(title[0] != "15" and @people[title[0]].length != 0) %>
                                <h3 class="secondryTitle"><%=Doctor.titles[title[0]].present? ? Doctor.titles[title[0]].upcase : title[0]%></h3>
                                <div>
                                        <%@people[title[0]].each{|person|%>
                                                <div class="floatLeft team-member">
                                                        <img src="//s3-ap-southeast-1.amazonaws.com/tos-files/team-images/<%=person[:id]%>.jpg" alt="" height="178" width="208"></img>
                                                        <div class="name bodyContent"><%=person[:name]%></div>
                                                        <div class="hidden lbContent bodyContent">
                                                                <img class="floatLeft marginRight10" src="//s3-ap-southeast-1.amazonaws.com/tos-files/team-images/<%=person[:id]%>.jpg" alt="" height="178" width="208"></img>
                                                                <div style="min-height: 40px;" class="bodyContent">
                                                                        <h2 class="subheader"><%=person[:name]%></h2>
                                                                        <%=person[:description]%>

                                                                </div>
                                                                <div class="links">
                                                                        <%person.urls.each{|url|%>
                                                                                <a href="<%=url%>" class="links"><%=url[:title]%></a><br />
                                                                        <%}%>
                                                                </div>

                                                        </div>
                                                </div>
                                        <%}%>

                                </div>
                        <%end%>
                <%}%>
        </div>
        <div class="clear" style="height: 0;">&nbsp;</div>
</div>
<script>
        $(".team-member").click(function(evt){
                $(".lbContent",this).dialog({
                        modal: true,
                        width: 970
                });
        });
</script>