<style type="text/css">
	.contentWrap{
		padding-bottom: 20px;
	}
</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "academy"} %>
<%= render :partial => "/web/academy/shared/submenu", :locals => {:scope => "academy"} %>
<div class="contentWrap">
	<h2 class="title leftPadding10 topPadding20">University PG (Short Term) COURSES</h2>

	<div id="accordion">
		<%@university_courses.each {|course|%>
			<h3 class="subheader"><%= course.title.upcase %></h3>
			<div class="bodyContent rteContent">
				<%= raw course[:description] %>
				<a class="links floatRight" target="_blank" href="/files/courses/<%=course.id%>.pdf">Download PDF</a>
			</div>
		<%}%>

	</div>