<%= render :partial => "/admin/shared/header" %>
<%= render :partial => "/admin/shared/tabs" %>
<div class="articleList">
	  <div class="upperbar">
		<h2 class="floatLeft">Testimonials Dashboard</h2>
		<div class="page floatRight">
			<ul></ul>
		</div>
		<%= button_to 'New Testimonial', new_admin_testimonial_path,:class=>"btn btn_newArticle floatRight",:method => :get %>
		<div style="clear:both"></div>

	</div>
	<table>
		<tr>
			<th>Testimonial By</th>
			<th>Title</th>		
			<th></th>			
		</tr>

		<% @testimonials.each do |admin_testimonial| %>
			<tr>
				<td class="admin-article-by"><%= admin_testimonial.testimonial_by %></td>
				<td class="admin-article-by"><a href="/admin/academy/testimonials/<%=admin_testimonial[:id]%>/edit"><%= admin_testimonial.title %></a></td>
				
				<td class="admin-article-delete"><a href="/admin/academy/testimonials/<%=admin_testimonial[:id]%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><span class="adminSprite crossIcon"></span></a></td>
			</tr>
		<% end %>
	</table>
</div>
<br />




