<style>	
	
	
</style>
<div class="header submenu">
	<ul class="submenuItems">
		<li class="<%=["about_us", "aim", "team", "association"].include?(params[:action]) ? "selected" : "" %>">
			<div class="left-border left-border-1 floatLeft"></div>
			<div class="submenuItem">
				<a href="/<%=scope%>/"><%= t "submenu.about" %></a>
				<div class="left-border floatLeft"></div>
				<ul>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/aim/"><%= t "submenu.aboutsection.aim" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/team/"><%= t "submenu.aboutsection.team" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/associations/"><%= t "submenu.aboutsection.association" %></a>
					</li>
				</ul>
			</div>
		</li>
		<li class="<%=["our_approach", "learning_model","teaching_tools","facilities"].include?(params[:action]) ? "selected" : "" %>">
			<div class="left-border left-border-1 floatLeft"></div>
			<div class="submenuItem">
				<a href="/<%=scope%>/our-approach/"><%= t "submenu.edge" %></a>
				<div class="left-border floatLeft"></div>
				<ul>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/our-approach/"><%= t "submenu.edgeSection.approach" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/learning-model/"><%= t "submenu.edgeSection.learning_model" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/teaching-tools/"><%= t "submenu.edgeSection.teaching_tools" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/facilities/"><%= t "submenu.edgeSection.facilities" %></a>
					</li>
					
				</ul>
			</div>
		</li>
		<li class="<%=["articles", "article", "case_studies", "case_study", "videos", "video"].include?(params[:action]) ? "selected" : "" %>">
			<div class="left-border left-border-1 floatLeft"></div>
			<div class="submenuItem">
				<a href="/academy/articles"><%= t "submenu.knowledgeCenter" %></a>
				<div class="left-border floatLeft"></div>
				<ul>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/articles"><%= t "submenu.knowledge.articles" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/case-studies"><%= t "submenu.knowledge.case" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/videos"><%= t "submenu.knowledge.video" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/about-homeopathy"><%= t "submenu.knowledge.about" %></a>
					</li>
				</ul>
			</div>
		</li>
		<li class="<%=["admissions"].include?(params[:action]) ? "selected" : "" %>">
			<div class="left-border left-border-1 floatLeft"></div>
			<div class="submenuItem">
				<a href="/<%=scope%>/admissions"><%= t "submenu.admission" %></a>
			</div>
		</li>



	<li class="<%=["courses","indian_courses", "international_courses", "customized_courses"].include?(params[:action]) ? "selected" : "" %>">
			<div class="left-border left-border-1 floatLeft"></div>
			<div class="submenuItem">
				<a href="/academy/indian_courses"><%= t "submenu.courses" %></a>
				<div class="left-border floatLeft"></div>
				<ul>
					<li>
						<span class="subnavIcon"></span>
						<a href="/academy/indian_courses"><%= t "submenu.coursesSection.indian_courses" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/academy/international_courses"><%= t "submenu.coursesSection.international_courses" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/academy/customized_courses"><%= t "submenu.coursesSection.customized_courses" %></a>
					</li>					
				</ul>
			</div>
		</li>

		<li class="<%=["research"].include?(params[:action]) ? "selected" : "" %>">
			<div class="submenuItem">
				<a href="/<%=scope%>/research"><%= t "submenu.research" %></a>
			</div>
		</li>
		<li class="<%=["satellite"].include?(params[:action]) ? "selected" : "" %>">
			<div class="submenuItem">
				<a href="/<%=scope%>/satellite"><%= t "submenu.satellite" %></a>
			</div>
		</li>
		<li class="<%=["contact"].include?(params[:action]) ? "selected" : "" %>">
			<div class="submenuItem">
				<a href="/<%=scope%>/contact-us"><%= t "submenu.contactUs" %></a>
			</div>
		</li>
	</ul>
</div>