<style>
	.submenu{
		height: 42px;
		border-top: 1px solid #525355;
		background-image: -moz-linear-gradient(center top,#787878,#424242);
		background-image: -webkit-linear-gradient(#787878,#424242);
		background-color: #454648;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
		box-shadow: 0 1px 3px rgba(0,0,0,.3);
		background-image: url("/images/submenu-bg.jpg");
		margin-bottom: 42px;
	}
	.submenuItems{
		width: 980px;
		margin: auto;
	}
	.submenuItem{
		position: relative;
	}
	.submenuItem ul{
		display: none;
		position: absolute;
		width: 980px;
		left: -16px;
		top: 42px;
		border-right: 1px solid #ddd;
	}
	.submenuItem ul li{
		background-color: #ededed;
		display: inline-block;
	}
	.submenuItem ul li a{
		color: #666;
		font-size: 16px;
	}
	.submenuItem ul li a:hover{
		text-decoration: underline;
	}
	li.selected ul{
		display: block;
	}
	.submenuItems li a{
		color: #ddd;
	}
	.submenuItems li{
		float: left;
		padding: 0 16px;
		font-size: 18px;
		height: 42px;
		line-height: 40px;
	}

	.submenuItem li{
		height: 38px;
	}
	.submenuItems li.selected{
		background-color: #ededed;

		cursor: pointer;
	}
	.submenuItems li.selected div > a{
		color: #000;
	}
	.left-border{
		background-image: url("/images/left-border.jpg");
    height: 78px;
    left: -16px;
    position: absolute;
    top: 0;
    width: 6px;
    z-index: 100;
		display: none;
	}
	.selected .left-border{
		display: block;
}
	.submenuItem ul li{
		-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
		height: 36px;
	}
	.subnavIcon{
		background-image: url("/images/subnav-icon.jpg");
		display: inline-block;
		height: 16px;
		width: 16px;
		position: relative;
		top: 3px;
		left: 3px;
	}

	.blockQuote{
		border-left: 4px solid #dd0017;
		padding-left: 22px;
		font-size: 22px;
		margin: 20px 0;
	}
</style>
<div class="header submenu">
	<ul class="submenuItems">
		<li class="<%=["about_us", "aim", "team", "association"].include?(params[:action]) ? "selected" : "" %>">
			<div class="submenuItem">
				<a href="/<%=scope%>/"><%= t "submenu.about" %></a>
				<div class="left-border floatLeft"></div>
				<ul>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/aim/"><%= t "submenu.aboutsection.aim" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/team/"><%= t "submenu.aboutsection.team" %></a>
					</li>
					<li>
						<span class="subnavIcon"></span>
						<a href="/<%=scope%>/associations/"><%= t "submenu.aboutsection.association" %></a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<div class="submenuItem">
				<a href="/<%=scope%>/edge"><%= t "submenu.edge" %></a>
				<ul>
					<li>
						<a href=""><%= t "submenu.edgeSection.beliefe" %></a>
					</li>
					<li>
						<a href=""><%= t "submenu.edgeSection.approach" %></a>
					</li>
					<li>
						<a href=""><%= t "submenu.edgeSection.therapies" %></a>
					</li>
					<li>
						<a href=""><%= t "submenu.edgeSection.clinic" %></a>
					</li>
					<li>
						<a href=""><%= t "submenu.edgeSection.testimonial" %></a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<div class="submenuItem">
				<a href="#"><%= t "submenu.knowledgeCenter" %></a>
				<ul>
					<li>
						<a href="/<%=scope%>/articles"><%= t "submenu.knowledge.articles" %></a>
					</li>
					<li>
						<a href="/<%=scope%>/case-studies"><%= t "submenu.knowledge.case" %></a>
					</li>
					<li>
						<a href="/<%=scope%>/videos"><%= t "submenu.knowledge.video" %></a>
					</li>
					<li>
						<a href="/<%=scope%>/about-homeopathy"><%= t "submenu.knowledge.about" %></a>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<div class="submenuItem">
				<a href=""><%= t "submenu.generalInfo" %></a>
			</div>
		</li>
		<li>
			<div class="submenuItem">
				<a><%= t "submenu.events" %></a>
			</div></li>
		<li>
			<div class="submenuItem">
				<a><%= t "submenu.contactUs" %></a>
			</div>
		</li>
	</ul>
</div>