<style>
	.events{
		float: right;
		width: 310px;
		padding-left: 18px;
	}
	.eventBlock:first-child{
		margin-top: 0;
	}
	.eventBlock{
		margin-top: 22px;
	}

	.eventDescription{
		line-height: 20px;
		width: 220px;
		padding-top: 4px;
	}
	.eventDescription h4{
		font-weight: normal;
		color: #666;
	}
	.eventDescription a{
		color: #666;
	}
	.eventDescription a:hover{
		color: #a51919;
	}
	
</style>
<h2 class="title highlight"><%=@sec%> <%= t "home.events" %></h2>
<div class="eventsList">
	<%events.each { |event|%>
		<div class="eventBlock">
			<div class="dateBlock floatLeft">

				<div class="dateCt subheader" style="font-weight: normal;"><%=event[:day].present? ? event[:day].strftime('%b %d') : ""%></div>
				<div class="dayCt subheader" style="font-weight: normal;"><%=event[:day].present? ? event[:day].strftime('%a') : ""%>.</div>
			</div>
			<div class="eventDescription floatLeft">
				<h3 class="subheader"><%=event[:title][0...32].upcase%></h3>
				<h4><%=event[:sub_title]%></h4>
				<a class="links" href="/clinic/events/<%=event[:id]%>"><%= t "home.readmore" %></a>
			</div>
			<div class="clear"></div>
		</div>

	<%}%>
	<div class="clear"></div>
</div>