<link rel="stylesheet" type="text/css" href="/styles/rs-caraousal/jquery.rs.carousel.css" media="all" />
<style>
	#slides{
		margin: auto;
		width: 980px;
		height: 260px;
		position: relative;
	}
	.topWrapper{
		width: 100%;
		overflow: hidden;
	}
	.rs-carousel-mask{
		overflow: visible;
	}
	.rs-carousel-horizontal .rs-carousel-item{
		height: 260px;
	}
	.sliderTitle{
		position: absolute;
		top: 0;
		left: 652px;
		height: 132px;
		width: 274px;
		background: #f67a00;
		color: #fff;
		padding: 64px 28px;
	}

	.sliderTitle.academy{
		background: #006699;
	}

	.sliderTitle1{
		font-size: 20pt;
	}
	.sliderTitle2{
		font-size: 10pt;

		line-height: 12pt;
		top: 10px;
		position: relative;
	}
</style>
<script src="/scripts/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/scripts/caraousal/jquery.rs.carousel.js"></script>

<!-- carousel extensions (optional) -->
<script type="text/javascript" src="/scripts/caraousal/jquery.rs.carousel-autoscroll.js"></script>
<script type="text/javascript" src="/scripts/caraousal/jquery.rs.carousel-continuous.js"></script>
<script type="text/javascript" src="/scripts/caraousal/jquery.rs.carousel-touch.js"></script>
<div class="topWrapper">
	<div id="slides">
		<div class="rs-carousel">
			<ul>
				<li>
					<img src="/images/<%=scope%>/slides-1.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-2.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-3.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-4.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-1.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-2.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-3.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-4.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-1.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-2.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-3.jpg" height="260" width="652" />
				</li>
				<li>
					<img src="/images/<%=scope%>/slides-4.jpg" height="260" width="652" />
				</li>
			</ul>
		</div>
		<div class="sliderTitle <%=scope%>">
			<div class="textCt">
				<div class="sliderTitle1">Essential Homeopathy</div>
				<div class="sliderTitle2">A complete online discussion forum, mentoring and training program with Dr. Rajan Sankaran </div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
    $('.rs-carousel').carousel({
			autoScroll: true,
			continuous: true,
			easing: "swing",
			itemsPerTransition: "auto",
			loop: true,
			nextPrevActions: false,
			orientation: "horizontal",
			pagination: false,
			pause: 3000,
			speed: "slow",
			whitespace: false
		});
	});
</script>