<style>
	.newsCt{
		background-color: #eee;
		height: 324px;
		margin-top: 0;
	}
	.news{
		width: 960px;
		margin: auto;
		padding: 20px;
		height: 206px;
		position: relative;
	}

	.news ul{
		text-align: left;
		float: none;
		top: 0px;
		right: auto;
		bottom: auto;
		left: 0px;
		margin: 0px;
		height: 226px;
		margin-left: 28px;
	}
	.newsBlock{
		float: left;
		position: relative;
		margin-right: 28px;
	}
	.newsBlock .type{
		position: absolute;
		top: 20px;
		left: 0;
		padding: 7px 8px;
		color: #fff;
	}
	.newsBlock .type.video{
		background-color: #1b7bb7;
	}
	.newsBlock .type.article{
		background-color: #559d15;
	}

	.newsBlock .type.case{
		background-color: #559d15;
	}

	.slideControl{
		position: absolute;
		top: 77px;
		height: 36px;
		width: 20px;
	}
	.slideNavLeft{
		right: -42px;
		background-position: -380px -42px;
	}
	.slideNavRight{
		left: -16px;
		background-position: -416px -42px;
	}
	.sliderCt{
		position: relative;
		top: 62px;
	}

	.caroufredsel_wrapper{
		position: absolute !important;
	}
	.bodyContent.news_title {
    width: 280px;
    overflow:hidden;
	}
</style>

<div class="newsCt">
	<div class="news">
		<h2 class="title" style="position: absolute;"><%= t "home.latest" %></h2>
		<div class="sliderCt">
			<a id="ui-carousel-prev" href="#" class="spriteIcon slideNavLeft slideControl"></a>
			<a id="ui-carousel-next" href="#" class="spriteIcon slideNavRight slideControl"></a>
			<ul>

				<%@newses.each { |news|%>

					<%
					type = news[:type] == "case study" ? "case-studie" : news[:type]
					news_link = "/#{news[:source]}/#{type}s/#{news[:id]}" %>
					<li  class="newsBlock">
						<div>
							<%if news["type"]== "video"%>
								<iframe height="194" width="290" src="<%=news[:youtubeurl]%>" frameborder="0" ></iframe>
							<%else%>
								<%img_url = news[:file_caption_0].present? ? Rails.configuration.s3Defaults[:path] + Rails.env + "/articles/#{news[:id]}-0.jpg" : "/images/articles/default.jpg"%>
								<a href="<%=news_link%>"><img src="<%=img_url%>" alt="" height="194" width="290"></img></a>
							<%end%>
							<div style="font-weight: normal;" class="subheader type <%=news[:type]%>"><%=news[:type].upcase%></div>
						</div>
						<a href="<%=news_link%>"><div class="bodyContent news_title"><%=news[:title][0...28]%></div></a>
					</li>
				<%}%>

			</ul>
		</div>
	</div>
</div>
<script>
	$(function(){
		$(".sliderCt ul").carouFredSel({
			auto  : true,
			items : 3,
			direction:"left",
			prev  : '#ui-carousel-prev',
			next  : '#ui-carousel-next',
			scroll : {								
				duration        : 1000,
				pauseOnHover    : true
			}   
		});
	});
</script>