<style>
		.aboutUs{
		float: left;
		width: 630px;
		border-right: 1px solid #666;
		padding-top: 10px;		
	}
	h2{
		font-family: 'MavenProRegular';
		font-size: 32pt !important;
	}
	.news{
		height: 200px;
		margin-top: 12px;
	}

	.aboutCt{
		padding: 22px 10px 22px 0;
		font-size: 16pt;
		min-height: 350px;
		font-family: 'TisaProRegular';
	}

	.aboutCt .blockQuote{
		border-left: 4px solid #dd0017;
		padding-left: 22px;
		font-size: 26pt;
		margin: 20px 0;
	}
</style>


<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap">
	<div class="padder">
		<div class="aboutUs">
			<h2 class="title"><%= t "home.about"%> </h2>
			<div class="aboutCt">
			Advanced research, in-depth study and new methodologies all come together
			as an accessible solution to an ailment at the clinic. This is the platform
			where we provide the best of treatment and service, which we have been formulating
			at the centre.At the Clinic, homoeopathic treatment is based on recognizing the energy
			pattern lying deep within the patient and dispensing treatment accordingly.
				<p class="blockQuote">
			Dr. Rajan Sankaran, head and principal instructor guides each student with
				his renowned thinking across various homeopathic systems along with other
					leading practitioners developing a full range of skills in future homeopaths.</p>

				 The teachings include progressive approaches and new thinking in the field,
					expanding the strong classical base in accord with the latest advancements in the field.
<br />
				
				This process of recognition is undertaken using different advanced techniques
				in Homoeopathy like the Sensation Method, while at the same time exploring
				other methods and techniques of treatment that have a similar goal.</p>
			</div>
		</div>
		<div class="events">
<%= render :partial => "/static/shared/events", :locals => {:events => Event.find(:all, :order => 'day DESC', :limit => 4)}%>
</div>
		<div class="clear"></div>
	</div>
</div>
<%= render :partial => "/static/shared/news", :locals => {:newses => [
		{
			:type => "video",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/video.jpg"
		},
		{
			:type => "gallery",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/gallary.JPG"
		},
		{
			:type => "case studies",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/case.jpg"
		},{
			:type => "video",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/video.jpg"
		},
		{
			:type => "gallery",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/gallary.JPG"
		},
		{
			:type => "case studies",
			:title => "The Title",
			:link => "kjdhs",
			:image => "/images/temp/case.jpg"
		}]}%>
