<style>		
	.articlesRightPanel{
		padding: 28px 0 0 0;
	}
	.articleSharingTools{
		position: relative;
		bottom: 8px;
	}
	.articleImageSlide{
		margin: 0 10px 10px 0;
		height: 178px;
		width: 282px;
		overflow: hidden;
	}
	.articleImageSlide{
		position: relative;
	}

	.submenuItem ul{
		border-right: 1px solid #ddd;
		left: 0 !important;
	}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap article article-list">
	<div class="padder">
		<div class="topHeader" style="padding-bottom: 20px;">
			<a href="/clinic/articles"><h2 class="title"><%= t "submenu.knowledge.articles"%> </h2></a>			
		</div>
		<%= render :partial => "/web/clinic/shared/left_navigation", :locals => {:scope => "clinic", :type => "articles"} %>
		<div class="floatLeft articlesRightPanel">
			<h3 class="subheader"><%=@article[:title].upcase%></h3>
			<span class="subheader"><%=@article[:created_at].strftime('%B %d, %Y') unless @article[:created_at].blank? %></span>
			<div class="articleSharingTools floatRight">
				<a href="mailto:" target="_blank"><span class="spriteIcon smlIcon mail"></span></a>
				<a target="_blank" href="http://www.facebook.com/sharer.php?u=<%=URI::escape(request.original_url)%>"  target="blank"><span class="spriteIcon smlIcon facebook"></span></a>
				<a target="_blank" href="https://twitter.com/intent/tweet?url=<%=URI::escape(request.original_url)%>&text=<%=@article[:title]%>"><span class="spriteIcon smlIcon twitter"></span></a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</div>

			<div class="articleContentArea bodyContent">
				<%if(@article[:file_caption_0].present?)%>
				<div class="floatLeft articleImageSlide">
					<%if(@article[:file_caption_0].present?)%>
						<div>
							<%img_ur1l = Rails.configuration.s3Defaults[:path] + Rails.env + "/articles/#{@article[:id]}-0.jpg"%>
							<img src="<%=img_ur1l%>" alt="" height="178" width="282"></img>
							<span class="caption"><%=@article[:file_caption_0]%></span>
						</div>
					<%end%>
					<%if(@article[:file_caption_1].present?)%>
					<div>
						<%img_ur12 = Rails.configuration.s3Defaults[:path] + Rails.env + "/articles/#{@article[:id]}-1.jpg"%>
						<img src="<%=img_ur12%>" alt="" height="178" width="282"></img>
						<span class="caption"><%=@article[:file_caption_1]%></span>
					</div>
					<%end%>
					<%if(@article[:file_caption_2].present?)%>
					<div>
						<%img_ur13 = Rails.configuration.s3Defaults[:path] + Rails.env + "/articles/#{@article[:id]}-2.jpg"%>
						<img src="<%=img_ur13%>" alt="" height="178" width="282"></img>
						<span class="caption"><%=@article[:file_caption_2]%></span>
					</div>
					<%end%>
				</div>
				<%end%>
				<%=raw @article[:content]%>
				<%if @article[:youtubeurl].present?%>
					<div class="videoCt">
						<div class="video floatLeft">
						<iframe width="282" height="180" src="<%=@article[:youtubeurl]%>" frameborder="0" ></iframe>
						</div>
						<div class="floatLeft videoContent">
							
						</div>
					</div>
				<%end%>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script>
	<%if(@article[:file_caption_1].present?)%>
	$(".articleImageSlide").slidesjs({
		width: 278,
		height: 178,
		play: {
			active: false,
			effect: "slide",
			interval: 5000
		},
		navigation:{
			active: false
		},
		pagination: {
			active: true
		}
	});
	<%end%>

	
</script>