<style>
	.article .padder{
		margin-top: 22px;
		
	}

	.article .title{
		display: inline-block;
	}
	.article .article-title:before{
		content: "\00bb\a0";
		font-size: 20px;
	}
	.article img{
		margin-right: 12px;
	}
</style>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap article article-list">
	<div class="padder">
		<div class="topHeader">
			<h2 class="title"><%= t "submenu.knowledge.articles"%> </h2>
			<span class="article-title"><%=@article[:title].upcase%></span>
		</div>
		<%= render :partial => "/web/clinic/shared/left_navigation", :locals => {:scope => "clinic", :type => "articles"} %>
		<div class="floatLeft articlesRightPanel">
			<h3><%=@article[:title]%></h3>
			<span><%=@article[:created_at]%></span>
			<div class="sharingTools">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="articleContentArea">
				<img src="" alt="" height="180" width="280" class="floatLeft"/>
				<%=@article[:content]%>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

