<style>
	.submenu{
		margin-bottom: 0 !important;
	}
	.general-info-contact{
		font-family: 'Merriweather';
		color: #666;
	}
	.padder{
		padding: 20px 10px 0 10px;
	}
</style>
<link rel="stylesheet" href="/styles/jquery-ui.css" />
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap generalInfo">
	<div class="padder">
		<h2 class="title" style="padding-left: 0;"><%= t "submenu.generalInfo"%> </h2>
	</div>
	<div id="accordion" class="general-info-accordion maroonHeader bodyContent">
		<h3>BOOK AN APPOINTMENT AND PAYMENT OPTIONS</h3>
		<div class="appointemtnTable bodyContent">
			<div class="subheader">For enquiries and appointments</div>
			<br />
			<table>
				<tr>
					<td>Telephone:</td>
					<td>+91 (0) 22 42616666</td>
				</tr>
				<tr>
					<td>Fax:</td>
					<td>+91 (0) 22 42616677</td>
				</tr>
			</table>
			<br />
			<br />
			
			<div class="subheader">Bank Details:</div><br />
			<div class="subheader"><u><%="Indian students".upcase%></u></div><br /><br />
			<div class="subheader"><%="Payment options: Cash, cheque, credit card swipe, bank transfer"%></div><br />
			<div class="subheader">1.Cheque payment <br/> Cheque to be made in favour of ‘Foundation for Vital Healing’</div><br/>
				<div class="bodyContent">
				<div>and send to:</div>
				<div>‘the other song’- International Academy of Advanced Homoeopathy*</div>
				<div>1001, Peninsula Heights, C. D. Burfiwala Marg, Juhu Lane, Andheri (W),</div>
				<div>Mumbai - 400 058 (Maharashtra), INDIA Tel: +91 022 42616666</div>
				<div>(*Unit of Foundation for Vital Healing)</div>
			</div><br />
			<div class="subheader">2.Bank transfer</div>
			<div class="bodyContent">
				<div>Account Name: FOUNDATION FOR VITAL HEALING</div>
				<div>Account Number: 147001601000045</div>
				<div>Bank Name: CORPORATION BANK(JUHU – VILEPARLE BRANCH)</div>
				<div>IFSC Code: CORP0001470</div>
				<div>MICR Number: 400017079</div>
			</div>
			<br />
			<div class="bodyContent">OR</div>
			<br />
			<div class="bodyContent">
				<div>Account Name: FOUNDATION FOR VITAL HEALING</div>
				<div>Account Number: 001105022576</div>
				<div>Bank Name: ICICI BANK (Andheri West Branch)</div>
				<div>IFSC Code: ICIC0000011</div>
				<div>MICR Number: 400229003</div>
			</div>
			<br />
			<br />
			<div class="subheader"><u><%="International".upcase%></u><br/>FOUNDATION FOR VITAL HEALING<br/> 
			BANK DETAILS FOR REMMITANCE</div><br />
			<div class="bodyContent">
				<br />
				<table class="bank-table">
					
					<tr>
						<td>Beneficiary Name</td>
						<td>Foundation for Vital Healing</td>
					</tr>
					<tr>
						<td>Beneficiary Address </td>
						<td>1001, Peninsula Heights,
					                   C.D. Burfiwala Marg,
					                  Juhu Lane, Andheri (W),
					                 Mumbai, India.</td>
					</tr>
                	<tr>
						<td>Beneficiary bank name (Primary Bank) </td>
						<td>ICICI Bank</td>
					</tr>
					<tr>
						<td>Branch address</td>
						<td>Sagar Avenue Building , opp. shopper's
					              stop, Andheri (w) Mumbai, Maharashtra,
					             India :400058</td>
					</tr>
             		<tr>
						<td>Account Number</td>
						<td>001106000812</td>
					</tr>
					<tr>
						<td>SWIFT CODE </td>
						<td>ICICINBBCTS</td>
					</tr>
					<tr> 
						<td>Currency</td>
						<td>USD</td>
					</tr>
					<tr> 
						<td>Remittance Information/Further credit 
					information </td>
						<td>Please write your name and the course
					Name.</td>
					</tr>
					<tr>
						<td>Beneficiary’s Bank’s Correspondent Bank 
					    Name Address & Swift Code (Secondary 
					    Bank) </td>



						<td>J P MORGAN CHASE BANK,NEW
						YORK<br/>
						A/C number 001 1 427374<br/>
						SWIFT Code: CHASUS33XXX<br/>
						IBANK NO: ABAFED No 021000021</td>

					</tr>
					<tr>
						<td>Transaction Charges (strike out)</td>
						<td>To our Account / Beneficiary’s Account</td>
					</tr>
					<tr>
						<td colspan="2"></td>

					</tr>
					<tr>
						<td colspan="2">Your bank will give you a reference number for the transaction. Please inform us the reference number. Please keep the number until we confirm the receipt.</td>
					</tr>
					<tr>
						<td colspan="2"></td>

					</tr>
				</table>
<br/>
OR
<br />
				<table class="bank-table">
					
					<tr>
						<td>Beneficiary Name</td>
						<td>Foundation for Vital Healing</td>
					</tr>
					<tr>
						<td>Beneficiary Address </td>
						<td>1001, Peninsula Heights,
					                   C.D. Burfiwala Marg,
					                  Juhu Lane, Andheri (W),
					                 Mumbai, India.</td>
					</tr>
                	<tr>
						<td>Beneficiary bank name (Primary Bank) </td>
						<td>ICICI Bank</td>
					</tr>
					<tr>
						<td>Branch address</td>
						<td>Sagar Avenue Building , opp. shopper's
					              stop, Andheri (w) Mumbai, Maharashtra,
					             India :400058</td>
					</tr>
             		<tr>
						<td>Account Number</td>
						<td>001106000813</td>
					</tr>
					<tr>
						<td>SWIFT CODE </td>
						<td>ICICINBBCTS</td>
					</tr>
					<tr> 
						<td>Currency</td>
						<td>EURO</td>
					</tr>
					<tr> 
						<td>Remittance Information/Further credit 
					information </td>
						<td>Please write your name and the course
					Name.</td>
					</tr>
					<tr>
						<td>Beneficiary’s Bank’s Correspondent Bank 
					    Name Address & Swift Code (Secondary 
					    Bank) </td>



						<td>J P MORGAN CHASE BANK,FRANKFURT<br/>
						A/C number 6231605970<br/>
						SWIFT Code: CHASDEFXXXX<br/>
						IBANK NO: DE92501108006231605970</td>

					</tr>
					<tr>
						<td>Transaction Charges (strike out)</td>
						<td>To our Account / Beneficiary’s Account</td>
					</tr>
					<tr>
						<td colspan="2"></td>

					</tr>
					<tr>
						<td colspan="2">Your bank will give you a reference number for the transaction. Please inform us the reference number. Please keep the number until we confirm the receipt.</td>
					</tr>
					<tr>
						<td colspan="2"></td>

					</tr>
				</table>


			</div>
		</div>
		<h3>CASE RECORD FORMS</h3>
		<div>
			<div class="floatLeft bodyContent"><span class="pdfIcon"></span>Case Record Form - Personal Details</div>
			<a class="links floatRight button" target="_blank" href="/files/clinic/case-record/Case Record Form - Personal Details P.docx"><div class="">Download</div></a>

		</div>
		<h3>CLINIC SCHEDULE</h3>
		<div class="bodyContent">
			<div class="subheader">Clinic Schedule and Timings:</div>
			<div class="bodyContent">The clinic will be open Monday through Saturday between 9:00am to 6:00pm. The clinic will be closed on all Sundays.</div>
			<div class="bodyContent">The clinic observes the following holidays:</div>
			<br />
			<ul>
				<li>New Year’s Day</li>
				<li>Republic Day</li>
				<li>GudiPadwa</li>
				<li>Maharashtra Day</li>
				<li>RakshaBandhan</li>
				<li>Independence Day</li>
				<li>Govinda</li>
				<li>GaneshChaturthi</li>
				<li>Dashera</li>
				<li>Diwali (2 days)</li>
			</ul>
		</div>
		<h3>TERMS OF SERVICES</h3>
		<div class="bodyContent">
			<div>Homoeopathic treatment is essentially harmless and safe. However, we advise you to be aware of the following:-</div><br />
			<ul>
				<li>At “the other song” our homoeopaths are trained and well experienced to select one remedy from thousands available that most closely matches the total picture of your symptoms. Therefore, you are expected to provide full and complete information pertaining to your ailment. The clinic shall be entitled to presume that the said information provided by you is true and correct.</li>
				<li>Our doctors will make the best possible endeavor to heal you. However, the outcome and duration of homoeopathic treatment vary by the constitution of each individual’s body, nature of ailment, past history of illnesses and other line of treatment followed in past and present.</li>
				<li>In any unforeseen circumstances our consultants offering the treatment will not be liable to any legal proceedings. They will not be responsible for the course of events during the period of treatment. The patient bears no right to ask for any damages with respect to the same.</li>
				<li>The clinic will not share the patient’s case records or video recordings of the consultation with the patient or relatives.</li>
				<li>In case of terminal diseases it is recommended that you inform your medical doctor that you are receiving homoeopathic treatment. In case any symptoms persist or worsen on treatment, you should seek professional medical attention.</li>
				<li>Like all other branches of medicine, homoeopathy also has limitations.</li>
			</ul>
		</div>
		<h3>CLINIC BROCHURE</h3>
		<div>
			<div class="floatLeft bodyContent"><span class="pdfIcon"></span>CLINIC BROCHURE</div>
			<a class="links floatRight button" target="_blank" href="/files/clinic/case-record/Case Record Form - Personal Details P.docx"><div class="">Download</div></a>

		</div>
		<h3>UNDERSTANDING YOUR INVOICE</h3>
		<div>
			<div class="floatLeft bodyContent"><span class="pdfIcon"></span>Understanding Your Invoice</div>
			<a class="links floatRight button" target="_blank" href="#"><div class="">Download</div></a>

		</div>
	</div>
	<div class="general-info-contact">
		<h2 class="secondryTitle black	"><%="Contact us".upcase%></h2>
		<h3 class="subheader">IN CASE OF QUERY CONTACT:</h3>
		<div class="contact-details bodyContent">
				Tel +91 (0) 22 42616666 <br />
				Fax +91 (0) 22 42616677<br />
			<table style="margin: 0 0 20px 0;">
				<tr>
					<td class="black"><a target="_blank" href="mailto:info@theothersong.com" class="links">info@theothersong.com</a></td>
					<td>(new case, follow-up appointments/inquiries)</td>
				</tr>
				<tr>
					<td class="black"><a target="_blank" href="mailto:clinic@theothersong.com" class="links">clinic@theothersong.com</a></td>
					<td>(follow-ups, acutes for old cases)</td>
				</tr>
				<tr>
					<td class="black"><a target="_blank" href="mailto:clinic@theothersong.com" class="links">academy@theothersong.com</a></td>
					<td>(inquiries for courses)</td>
				</tr>
			</table>
		</div>
		<div class="bodyContent">
			The Other Song <br />

			1001, Peninsula Heights, C. D. Burfiwala Marg, Juhu Lane<br />
			Andheri (W), Mumbai - 400 058. Maharashtra, India<br />
			T +91 (22) 42616666 <br />
			<a target="_blank" href="mailto:info@theothersong.com" class="links">info@theothersong.com</a> <br />
			<a target="_blank" href="http://www.theothersong.com" class="links">www.theothersong.com</a><br />
			A unit of ‘Foundation for Vital Healing’<br /><br /><br />
		</div>

		<div class="bodyContent">The Other Song –
			International Academy of Advanced Homoeopathy is registered under Section 25C of Indian Company Act, a Non-Profit Organization.</div>
		<br /><br />

		<div class="subheader">Visiting 'the other song' clinic:</div>
		<br />
		<div class="bodyContent">
			the other song—International Academy of Advanced Homoeopathy*<br />
			1001, Peninsula Heights<br />
			C. D. Burfiwala Marg,<br />
			Juhu Lane,<br />
			Andheri (W), Mumbai - 400 058<br />
			(Maharashtra), INDIA<br />
			Tel: +91 (0) 22 42616666<br />
			Fax: +91 (0) 22 42616677<br />
			(*Unit of: Foundation for Vital Healing)<br />
			(Maharashtra), INDIA<br />
		</div>
		<!--Enquiries<br />
			For enquiries and appointments<br />
			Call at +91 (0) 22 42616666 or Fax +91 (0) 22 42616677<br />-->

			<div class="subheader" style="margin-top: 20px">Stay connected to us:</div>
		<table>
			<tr>
				<td>Facebook:</td>
				<td><a target="_blank" href="http://www.facebook.com/theothersongacademy" class="links">www.facebook.com/theothersongacademy</a></td>
			</tr>
			<tr>
				<td>You tube:</td>
				<td>Dr RajanSankaran’s talk on the benefits of studying at ‘the other song’</td>
			</tr>
			<tr>
				<td></td>
				<td><a target="_blank" class="links" href="http://www.youtube.com/watch?v=Ns42frFsRBU" class="links">http://www.youtube.com/watch?v=Ns42frFsRBU</a></td>
			</tr>
			<tr>
				<td></td>
				<td>Movie production on ‘the other song’ – international academy for advanced homoeopathy</td>
			</tr>
			<tr>
				<td></td>
				<td><a target="_blank" href="http://www.youtube.com/watch?v=4ejOZy-AH7E&feature=plcp" class="links">http://www.youtube.com/watch?v=4ejOZy-AH7E&feature=plcp</a></td>
			</tr>
		</table>



			<div class="subheader" style="margin-top: 20px;">Student testimonials</div>
		<a target="_blank" href="http://www.youtube.com/watch?v=-FVUjJD5zYU&feature=plcp" class="links">http://www.youtube.com/watch?v=-FVUjJD5zYU&feature=plcp</a>
		<div class="subheader" style="margin-top: 20px;">Newsletter</div>
		<div class="bodyContent">This quarterly magazine is the easiest way to update you on various cases and events at ‘the other song’. An opportunity to stay connected.</div>

	</div>
</div>

<script>
	$(function() {
		$( "#accordion" ).accordion({
			heightStyle: 'content',
			collapsible: true,
			activate: function(){
				$('body').animate({
					scrollTop: $("#accordion").offset().top
				});
			}
		});
	});
</script>