<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap">
	<div class="padder">
		<p class="blockQuote blueBorder">
			“A network of influential and diverse professors, instructors and faculty rooted in tradition. They are working professionals who are on top of their fields fostering invaluable education and superlative practical experience.”
		</p>
		The other song is a learning environment that combines real-world learning and academic theory with commitment to excellence from students, faculty, staff and administration.
		<div class="team-first-list">
			<div class="floatLeft team-member">
				<img src="" alt="" height="178" width="208"></img>
				<div class="name font22">Doctor Name</div>
				<div class="team-title font20">Title</div>
			</div>
			<div class="floatLeft team-member">
				<img src="" alt="" height="178" width="208"></img>
				<div class="name font22">Doctor Name</div>
				<div class="team-title font20">Title</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="accordion" class="team">			
			<%@people.each{|title|%>				
				<h3><%=Doctor.titles[title[0]]%></h3>
				<div>					
					<%@people[title[0]].each{|person|%>
						<div class="floatLeft team-member">
							<img src="/images/doctors/<%=person[:id]%>.jpg" alt="" height="178" width="208"></img>
							<div class="name font22"><%=person[:name]%></div>
							<div class="hidden lbContent">
								<img class="floatLeft marginRight10" src="/images/doctors/<%=person[:id]%>.jpg" alt="" height="178" width="208"></img>
								<div style="min-height: 40px;">
									<h2 class="title" style="margin: 0 8px 8px; 0"><%=person[:name]%></h2>
									<%=person[:description]%>
									
								</div>
								<div class="links">
									<%person.urls.each{|url|%>
									<a href="<%=url%>"><%=url[:title]%></a><br />
									<%}%>
								</div>
								
							</div>
						</div>
						
					<%}%>
				</div>
			<%}%>			
		</div>
	</div>
</div>
<script>
	$("#accordion").accordion();
	//$(".lbContent").show().dialog({autoOpen: false});
	$(".team-member").click(function(evt){
		$(".lbContent",this).dialog({
			modal: true,
			width: 600
		});
	});
</script>