<style>
	.sharingTool{
		background-image: url("/images/share-icon.jpg");
	}
	
	.submenuItem ul{
		border-right: 1px solid #ddd;
		left: 0 !important;
	}
	.bottomBar{
		border-bottom: none;
		border-top: 1px solid #666;
		padding-top: 14px;
		height: 20px;
	}
	.article-list .padder{
		margin-top: 0;
	}

</style>
<%page_no = params[:page].to_i == 0 ? 1 : params[:page].to_i%>

<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/web/clinic/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap article-list">
	<div class="padder">
		<h2 class="title"><%= t "submenu.knowledge.video"%> </h2>

		<%= render :partial => "/web/clinic/shared/left_navigation", :locals => {:scope => "clinic", :type => "videos"} %>
		<div class="floatLeft articlesRightPanel">
			<div class="topHeader">
				<%if page_no !=1%>
					<a href="/clinic/videos?page=<%=page_no.to_i-1%>"><span class="floatLeft spriteIcon pagination">&laquo; Previous</span></a>
				<%end%>
				<span class="articleCount">Articles Found: <%=@total_videos.size%></span>
				<%if @total_videos_remain > 10%>
					<a href="/clinic/videos?page=<%=page_no.to_i+1%>"><span class="floatRight spriteIcon pagination next">Next &raquo;</span></a>
				<%end%>
			</div>
			<div class="articlesList">
				<%@videos.each { |article|%>

					<%img_url = article[:file_caption_0].present? ? "/images/articles/#{article[:id]}-0.jpg" : "/images/articles/default.jpg"%>
					<div class="article">
						<iframe width="200" height="140" src="<%=article[:youtubeurl]%>" frameborder="0" ></iframe>
						<!--<img src="<%=img_url%>" height="140" width="200" class="floatLeft" alt=""/>-->
						<div class="floatRight contentBlock">
							<h3 class="articleTitle floatLeft"><%=article[:title]%></h3>
							<span class="articleDate floatRight"><%=article[:created_at].strftime('%B %d, %Y') unless article[:created_at].blank? %></span>
							<div class="clear"></div>
							<div class="articleContent bodyContent"><%=raw article[:content]%></div>
							<div class="tools">
								<span class="sharingTool"></span>
								<a class="floatRight links" href="/clinic/videos/<%=article[:id]%>">Read More</a>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				<% } %>
			</div>
			<div class="bottomBar">
				<%if page_no !=1%>
					<a href="/clinic/articles?page=<%=page_no.to_i-1%>"><span class="floatLeft spriteIcon pagination">&laquo; Previous</span></a>
				<%end%>
				<span class="articleCount">Articles Found: <%=@total_videos.size%></span>
				<%if @total_videos_remain > 10%>
					<a href="/clinic/articles?page=<%=page_no.to_i+1%>"><span class="floatRight spriteIcon pagination next">Next &raquo;</span></a>
				<%end%>
			</div>
		</div>

		<div class="clear"></div>
	</div>
</div>