<style>
@font-face {
	font-family: 'tisapro';
	font-style: normal;
	font-weight: 400;
	src: local('tisapro'),url('/fonts/TisaPro-Regular.otf'); /* IE9 Compat Modes */
}
	.aboutUs{
		float: left;
		width: 650px;
		border-right: 1px solid #666;
		padding-top: 20px;
		font-family: 'tisapro';
	}

	.news{
		height: 200px;
		margin-top: 12px;
	}
	.aboutCt{
		padding: 22px 0;
		font-size: 15px;
	}

	.aboutCt .blockQuote{
		border-left: 4px solid #dd0017;
		padding-left: 22px;
		font-size: 22px;
		margin: 20px 0;
	}
	.contentWrap{
		height: 420px;
	}
</style>


<%= render :partial => "/static/shared/home_image_slide", :locals => {:scope => "clinic"} %>
<%= render :partial => "/static/shared/submenu", :locals => {:scope => "clinic"} %>
<div class="contentWrap">
<div class="aboutUs">
	<h2 class="title"><%= t "home.about"%> </h2>
	<div class="aboutCt">
		Advanced research, in-depth study and new methodologies all come together as an accessible solution to an ailment at the clinic. This is the platform where we provide the best of treatment and service, which we have been formulating at the centre.At the Clinic, homoeopathic treatment is based on recognizing the energy pattern lying deep within the patient and dispensing treatment accordingly.
		<p class="blockQuote">
			" Dr. Rajan Sankaran, head and principal instructor guides each student with his renowned thinking across various homeopathic systems along with other leading practitioners developing a full range of skills in future homeopaths.
				 The teachings include progressive approaches and new thinking in the field, expanding the strong classical base in accord with the latest advancements in the field.

		</p>
		This process of recognition is undertaken using different advanced techniques in Homoeopathy like the Sensation Method, while at the same time exploring other methods and techniques of treatment that have a similar goal.
	</div>
</div>
<div class="events">
	<%= render :partial => "/static/shared/events", :locals => {:events => [
			{:date => "June 15",
				:day => "Sat.",
				:title => "The Title Of the Event",
				:sub_title => "Subtitle will come here",
				:link => "/event/123"
			},{:date => "June 15",
				:day => "Sat.",
				:title => "Event 1",
				:sub_title => "skjhf dg",
				:link => "/event/123"
			},{:date => "June 15",
				:day => "Sat.",
				:title => "The Title Of the Event",
				:sub_title => "Subtitle will come here",
				:link => "/event/123"
			},{:date => "June 15",
				:day => "Sat.",
				:title => "The Title Of the Event",
				:sub_title => "Subtitle will come here",
				:link => "/event/123"
			}]}%>
</div>
<div class="clear"></div>
</div>
<%= render :partial => "/static/shared/news", :locals => {:newses => [
			{
				:type => "video",
				:title => "The Title",
				:link => "kjdhs"
			},
			{
				:type => "article",
				:title => "The Title",
				:link => "kjdhs"
			},
			{
				:type => "article",
				:title => "The Title",
				:link => "kjdhs"
			},{
				:type => "video",
				:title => "The Title",
				:link => "kjdhs"
			},
			{
				:type => "article",
				:title => "The Title",
				:link => "kjdhs"
			},
			{
				:type => "article",
				:title => "The Title",
				:link => "kjdhs"
			}]}%>
