<style>
	footer{
		background-color: #ddd;
		border-top: 1px groove #ddd;
		padding-top: 20px;
		position: absolute;
		top: 100%;
		width: 100%;
	}
	.floatLeft{
		float: left;
	}

	.floatRight{
		float: right;
	}
	.leftSection{
		float: left;
		width: 500px;
	}
	.rightSection{
		float: right;
	}
	.ftSection{
		float: left;
		margin-right: 40px;
	}


	.ftSection ul{
		margin-top: 20px;
		list-style: disc;
		margin-left: 20px;
	}
	.ftSection ul li{
		margin-bottom: 6px;
		font-size: 12px;
	}
	.clear{
		clear: both;
	}
	.footerCt{
		width: 980px;
		margin: auto;
	}

	.leftTopCt{
		margin-bottom: 20px;
	}
	.footerTop{
		padding: 10px;
		border-bottom: 1px groove #ddd;
	}
	.leftSection{
		border-right: 1px groove #ddd;
	}

	.footerBottom{
		padding: 10px;
		height: 20px;
	}

	.socialLinks{
		float: right;
		margin-right: 10px;
	}
	.linksSection{
		float: left;
		position: relative;
		top: 62px;
	}
	.linksSection li{
		margin-bottom: 15px;
	}
	.spriteIcon{
		background: red;
		display: inline-block;
	}

	.smlIcon{
		height: 24px;
		width: 24px;
		position: relative;
		top: 4px;
	}
	.feed{

	}
	.twitter{

	}
	.facebook{

	}

	.rightSection input{
		height: 24px;
		width: 400px;
		margin-bottom: 10px;
	}
	.rightSection textarea{
		width: 400px;
		height: 80px
	}
	.rightSection input[type=submit]{
		width: 80px;
		float: right;
		background: #888;
		height: 36px;
		font-size: 16px;
		color: #fff;
	}
	.rightSection .feedback{
		margin-bottom: 12px;
	}
</style>
<footer>
	<div class="footerCt">
		<div class="footerTop">
			<div class="leftSection">
				<div class="leftTopCt">
					<div class="clinicSection ftSection">
						<h3><%= t "footer.clinic" %></h3>
						<ul>
							<li><%= t "footer.about" %></li>
							<li><%= t "footer.edge" %></li>
							<li><%= t "footer.kcenter" %></li>
							<li><%= t "footer.ginformation" %></li>
							<li><%= t "footer.events" %></li>
							<li><%= t "footer.contactUs" %></li>
						</ul>
					</div>
					<div class="academySection ftSection">
						<h3><%= t "footer.academy" %></h3>
						<ul>
							<li><%= t "footer.about" %></li>
							<li><%= t "footer.edge" %></li>
							<li><%= t "footer.kcenter" %></li>
							<li><%= t "footer.admissions" %></li>
							<li><%= t "footer.satellitecenter" %></li>
							<li><%= t "footer.research" %></li>
							<li><%= t "footer.contactUs" %></li>
						</ul>
					</div>
					<div class="linksSection">
						<ul>
							<li><%=  t "footer.downloads"%></li>
							<li><%=  t "footer.links"%></li>
							<li><%=  t "footer.research"%></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="socialLinks">
					<span><%= t "footer.getsocial" %>:</span>
					<a href=""><span class="spriteIcon smlIcon feed" title ="feed"></span></a>
					<a href=""><span class="spriteIcon smlIcon twitter" title ="twitter"></span></a>
					<a href=""><span class="spriteIcon smlIcon facebook" title ="facebook"></span></a>
				</div>
			</div>
			<div class="rightSection">
				<div class="feedback"><%= t "footer.givefeedback" %></div>
				<form action="/submit-feedback">
					<table>
						<tr>
							<td>
								<input type="text" name="name" size="50" placeholder="<%= t "footer.name" %>"></input>
							</td>
						</tr>
						<tr>
							<td>
								<input type="email" name="email" size="50" placeholder="<%= t "footer.email" %>"></input>
							</td>
						</tr>
						<tr>
							<td>
								<textarea name="feedback" rows="5" cols="37" placeholder="<%=  t "footer.feedback" %>"></textarea>
							</td>
						</tr>
						<tr><td><input type="submit" value="<%= t "footer.send" %>"></input></td></tr>
					</table>



				</form>
			</div>
			<div class="clear"></div>
		</div>

		<div class="footerBottom">
			<span class="floatLeft"><%= t "footer.copyright" %></span>
			<span class="floatRight"><%= t "footer.rights" %></span>
		</div>
	</div>
</footer>