<style>
	@font-face {
		font-family: 'texgyreadventorbold';
		font-style: normal;
		font-weight: 400;
		src: local('texgyreadventorbold'),url('/fonts/Maven_Pro_Regular.otf'); /* IE9 Compat Modes */
	}
	body{
		font-family: texgyreadventorbold;
	}
	.header{
		height: 60px;
		border-top: 1px solid #525355;
		background-image: -moz-linear-gradient(center top,#424242,#787878);		
		background-image: -webkit-linear-gradient(#424242,#787878);
		background-color: #454648;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
		box-shadow: 0 1px 3px rgba(0,0,0,.3);
	}
	.headerCt{
		width: 980px;
		margin: auto;
	}
	.headerCt .menuItems li.selected{
		background-color: #424242;
	}
	.headerCt .menuItems li{
		display: inline;
		color: white;
	}
	.headerCt .menuItems li.item:hover{
		background-color: #424242;
	}
	.headerCt .menuItems li.item{
		padding: 20px;
		height: 20px;
		font-size: 20px;
		display: inline-block;
	}
	.tosLogo{
		display: inline-block;
		height: 56px;
		width: 267px;
		background-position: -508px -36px;
	}

	.contentWrap{
		min-height: 400px;
		width: 980px;
		margin: auto;
	}
	.loginBox{
		display: inline-block;
		padding: 10px;
		background-image: url("/images/sprite.png");
		background-position: -244px -10px;
		cursor: pointer;
		position: relative;
		margin-left: 22px;
	}
	.loginText{
		padding-right: 3px;
		position: relative;
		bottom: 2px;
	}

	.downArrow{
		width: 16px;
		height: 16px;
		background-position: -128px -28px;
		position: relative;
		bottom: 2px;
	}
	.search{
		height: 26px;
		width: 212px;
		position: relative;
		bottom: 5px;
		background-color: #bdbdbd;
		border: none;
		position: relative;
		left: 25px;
	}
	.searchIcon{
		height: 24px;
		width: 24px;
		background-position: -152px -19px;
		position: relative;
		right: 6px;
	}
	.loginBox .loginPanel{
		display: none;
		position: absolute;
		height: 128px;
		width: 228px;
		background-color: #ededed;
		z-index: 11;
		top: 48px;
		right: -82px;
		padding: 16px;
	}
	.loginBox:hover .loginPanel{
		display: block;
	}
	.loginPanel input{
		width: 218px;
		height: 24px;
		margin-bottom: 12px;
		padding-left: 8px;
	}
	.loginPanel span{
		font-size: 13px;
		color: #525355;
	}
	.loginPanel input[type="submit"]{
		width: 92px;
		background-position: -243px -13px;
		border: none;
		height: 29px;
		color: #fff;
		margin-bottom: 4px;
	}
	.uptri{
		border-color: transparent transparent #ededed;
		border-style: solid;
		border-width: 0 10px 10px;
		height: 0;
		position: absolute;
		width: 0;
		z-index: 0;
		top: 0;
		display: inline-block;
		position: absolute;
		top: -10px;
		left: 112px;
	}
</style>
<div class="header">
	<div class="headerCt">
		<a href="/"><span class="tosLogo floatLeft spriteIcon"></span></a>

		<ul class="floatRight menuItems">
			<li class="item <%=params[:action] == "clinic" ? "selected" : ""%>"><a href="/clinic"><%= t "header.clinic" %></a></li>
			<li class="item <%=params[:action] == "academy" ? "selected" : ""%>"><a href="/academy"><%= t "header.academy" %></a></li>
			<li>
				<div class="loginBox">
					<span class="loginText"><%= t "header.login"%></span>
					<span class="spriteIcon downArrow"></span>

					<div class="loginPanel">
						<div class="uptri"></div>
						<form action="/login" method="POST">
							<input type="email" name="username" placeholder="Username"></input>
							<input type="password" name="password" placeholder="Password"></input>
							<input class="spriteIcon" type="submit" value="<%= t "header.login" %>"></input>
							<span><%= t "header.forgotPassword" %></span>
							<span><%= t "header.noAccount" %></span>
							<span><%= t "header.signup" %></span>
						</form>
					</div>
				</div>
			</li>
			<li>
				<input type="text" class="search"></input>
				<span class="spriteIcon searchIcon"></span>
			</li>
		</ul>
	</div>
</div>
<!--
<nav class="top-nav" data-role="navbar">
	<ul class="nav">
		<li class="nav-top-el">
			<a href="/about-us"><%= t "navigation.about" %></a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="/about-us/our_mission">Our Mission</a></li>
				<li class="nav-list-item"><a href="/about-us/our_team">Our Team</a></li>
				<li class="nav-list-item"><a href="/about-us/our_associations_and_tie_ups">Our Associations and Tie Ups</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/our-edge">Our Edge</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="/our-edge/our_belief">Our Belief</a></li>
				<li class="nav-list-item"><a href="/our-edge/our_approach">Our Approach</a></li>
				<li class="nav-list-item"><a href="/our-edge/our_process">Our Process</a></li>
				<li class="nav-list-item"><a href="/our-edge/complementary_therapies">Complementary Therapies</a></li>
				<li class="nav-list-item"><a href="/our-edge/speciality_clinic">Speciality Clinic</a></li>
				<li class="nav-list-item"><a href="/our-edge/testimonials">Testimonials</a></li>
			</ul>
		</li>

		<li class="nav-top-el">
			<a href="/knowledge-center">Knowledge Center</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="/knowledge-center/homeopathy">Homoeopathy</a></li>
				<li class="nav-list-item"><a href="/knowledge-center/articles">Articles</a></li>
				<li class="nav-list-item"><a href="/knowledge-center/case_studies">Case studies</a></li>
				<li class="nav-list-item"><a href="/knowledge-center/videos">Videos</a></li>
				<li class="nav-list-item"><a href="/knowledge-center/webinars">Webinars</a></li>
				<li class="nav-list-item"><a href="/knowledge-center/recommended">Recommended reading</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/events">Events</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="/events/parenting_workshop">Parenting Workshop</a></li>
				<li class="nav-list-item"><a href="/events/movement_and_meditation">Movement and meditation</a></li>
				<li class="nav-list-item"><a href="/events/yoga_at_the_other_song">Yoga at 'the other song'</a></li>
				<li class="nav-list-item"><a href="/events/other_events">Other events</a></li>
				<li class="nav-list-item"><a href="/events/calender_of_events">Calendar of Events</a></li>
				<li class="nav-list-item"><a href="/events/offers_and_discounts">Offers and Discounts</a></li>
				<li class="nav-list-item"><a href="/events/payment_options">Payment Options</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/latest-at-the-other-song">Latest at The Other Song</a>
		</li>
		<li class="nav-top-el">
			<a href="/contact-us">General Information</a>
			<ul class="nav-list">
				<li class="nav-list-item"><a href="">Clinic Schedule</a></li>
				<li class="nav-list-item"><a href="">Book an appointment</a></li>
				<li class="nav-list-item"><a href="">Payment options</a></li>
				<li class="nav-list-item"><a href="">Clinic brochure</a></li>
				<li class="nav-list-item"><a href="">Case record form (Adults)</a></li>
				<li class="nav-list-item"><a href="">Pediatric case record form</a></li>
			</ul>
		</li>
		<li class="nav-top-el">
			<a href="/contact-us">Contact Us</a>
			<ul class="nav-list">
				<li class="nav-list-item"></li>
			</ul>
		</li>
	</ul>
	<div class="clearBoth"></div>
</nav>
-->