<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700' rel='stylesheet' type='text/css'></link>
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300,400italic' rel='stylesheet' type='text/css'></link>
<script src="/scripts/jquery.validate.min.js"></script>
<style>
	/*@font-face {
		font-family: MavenProBlack;
		src: local(MavenProBlack), url('/fonts/MavenProBlack.otf') format('opentype');
	}
	@font-face {
		font-family: MavenProBold;
		src: local(MavenProBold), url('/fonts/MavenProBold.otf') format('opentype');
	}
	@font-face {
		font-family: MavenProMedium;
		src: local(MavenProMedium), url('/fonts/MavenProMedium.otf') format('opentype');
	}
	@font-face {
		font-family: MavenProRegular;
		src: local(MavenProRegular), url('/fonts/MavenProRegular.otf') format('opentype');
	}
	@font-face {
		font-family: TisaProRegular;
		src: local(TisaProRegular), url('/fonts/TisaProRegular.otf') format('opentype');
	}*/
	body{
		font-family: 'Maven Pro';
		margin: 0;
	}
	.header{
		height: 39px;
		border-top: 1px solid #525355;
		background-image: url("/images/submenu-bg.jpg");
		background-repeat: repeat-x;
		min-width: 980px;
	}
	.headerCt{
		width: 980px;
		margin: auto;
	}
	.headerCt > ul{
		height: 39px;
	}
	.headerCt > ul >li{
		position: relative;
		bottom: 1px;
	}
	.headerCt > ul >li.academy{
		right: 4px;
	}
	.headerCt .menuItems li.clinic.selected, .headerCt .menuItems li.clinic:hover{
		background-image: url("/images/sprite.png");
		background-position: -1074px -49px;
	}
	.headerCt .menuItems li.academy.selected, .headerCt .menuItems li.academy.item:hover{
		background-image: url("/images/sprite.png");
		background-position: -1426px -49px;
	}
	.headerCt .menuItems li.academy.selected{

	}
	.headerCt .menuItems li{
		display: inline;
		color: white;
	}

	.headerCt .menuItems li.item{
		padding: 12px 14px;
		height: 20px;
		font-size: 10pt;
		display: inline-block;
		letter-spacing: 1px;
	}
	.tosLogo{
		display: inline-block;
		height: 38px;
		width: 161px;
		background-position: -509px -59px;
	}

	.contentWrap{
		min-height: 400px;
		width: 980px;
		margin: auto;
		bottom: 0;
		position: relative;
	}
	.loginBox{
		display: inline-block;
		padding: 4px 10px;
		background-image: url("/images/sprite.png");
		background-position: -244px -10px;
		cursor: pointer;
		position: relative;
		margin-left: 22px;
		font-size: 9pt;
		top: -1px;
	}
	.logoutBox{
		display: inline-block;
		padding: 4px 10px;
		background-image: url("/images/sprite.png");
		background-position: -244px -10px;
		cursor: pointer;
		position: relative;
		margin-left: 22px;
		font-size: 9pt;
		top: -1px;
	}
	.loginText{
		padding-right: 3px;
		position: relative;
		bottom: 1px;
		letter-spacing: 1px;
	}

	.downArrow{
		width: 16px;
		height: 16px;
		background-position: -128px -28px;
		position: relative;
		bottom: -1px;
	}
	.search{
		height: 22px;
		width: 212px;
		position: relative;
		bottom: 2px;
		background-color: #bdbdbd;
		border: none;
		position: relative;
		left: 30px;
	}
	.searchIcon{
		height: 27px;
		width: 24px;
		background-position: -152px -16px;
		position: relative;
		right: 12px;
		top: 3px;
	}
	.loginBox .loginPanel{
		display: none;
		position: absolute;
		height: 124px;/*old 120px*/
		width: 228px; 
		background-color: #ededed;
		z-index: 11;
		top: 38px;
		right: -98px;
		padding: 16px;
		padding-bottom: 19px;
	}
.logoutBox .logoutPanel{
		display: none;
		position: absolute;
		height: 60px;
		width: 228px;
		background-color: #ededed;
		z-index: 11;
		top: 38px;
		right: -82px;
		padding: 16px;
		padding-bottom: 19px;
	}

	.loginBox:hover .loginPanel{
		/*display: block;*/
	}
	.loginPanel input,.logoutPanel input{
		width: 218px;
		height: 20px;
		margin-bottom: 10px;
		padding-left: 8px;
		font-size: 10pt;
		color: #636363 !important;
	}
	.loginPanel span{
		font-size: 8pt;
		color: #525355;
		padding-bottom: 5px;
	}

	span.signupError{         /*HHHHHHHHHHHHEY M HERE*/
		display: block;
		width: 136px;
		overflow: hidden;
		float:left;
	}

	.logoutPanel span{
		font-size: 8pt;
		color: #525355;
		display: block;
		margin-bottom: 8px;
	}

	.logoutPanel span.user{
		font-size: 11pt;
		color: #525355;

	
	}

	.loginPanel span.signup_btn{
		color: #fff;
		font-size: 8pt;
		left: 25px;
		letter-spacing: 1px;
	}
	.loginPanel input[type="submit"],.logoutPanel input[type="button"]{
		width: 70px;
		background-position: -243px -13px;
		border: none;
		height: 22px;
		color: #fff !important;
		margin-bottom: 8px;
		font-size: 8pt;
		letter-spacing: 1px;
	}
	.uptri{
		border-color: transparent transparent #ededed;
		border-style: solid;
		border-width: 0 10px 10px;
		height: 0;
		position: absolute;
		width: 0;
		z-index: 0;
		top: 0;
		display: inline-block;
		position: absolute;
		top: -10px;
		left: 112px;
	}


	.signup_btn{
		border: 1px solid #589913;
		font-size: 12px;
		font-family: arial, helvetica, sans-serif;
		padding: 4px 7px 3px 7px;
		text-decoration: none;
		display: inline-block;
		color: #FFFFFF !important;
		background-image: url("/images/green-btn.png");
		background-position: -1px -1px;
		position: relative;
		left: 10px;
	}

	.signup_btn:hover{
		/*	opacity: .67;
		 border:1px solid #41700e;
		 background-color: #5b9e13; background-image: -webkit-gradient(linear, left top, left bottom, from(#5b9e13), to(#8ebe0d));
		 background-image: -webkit-linear-gradient(top, #5b9e13, #8ebe0d);
		 background-image: -moz-linear-gradient(top, #5b9e13, #8ebe0d);
		 background-image: -ms-linear-gradient(top, #5b9e13, #8ebe0d);
		 background-image: -o-linear-gradient(top, #5b9e13, #8ebe0d);
		 background-image: linear-gradient(to bottom, #5b9e13, #8ebe0d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5b9e13, endColorstr=#8ebe0d); 
		opacity: .67;*/

	}


</style>
<div class="header">
	<div class="headerCt">
		<a href="/"><span class="tosLogo floatLeft spriteIcon"></span></a>

		<%if !["admin/admin"].include?( params[:controller] )%>
			<ul class="floatRight menuItems">
				<li class="clinic item <%=params[:controller] == "web/clinic" ? "selected" : ""%>"><a href="/clinic"><%= t "header.clinic" %></a></li>
				<li class="academy item <%=params[:controller] == "web/academy" ? "selected" : ""%>"><a href="/academy"><%= t "header.academy" %></a></li>
				<li>
					<%if session[:user_id].present?%>
						<div class="logoutBox">
							<span class="loginText"><%= t "header.logout"%></span>
							<span class="spriteIcon downArrow"></span>
							<div class="logoutPanel">
								<div class="uptri"></div>
								<span class="links">You are Logged in as :</span>
								<span class="user subheader"><%=session[:email]%> </span>
							<input class="spriteIcon floatRight logoutBtn" type="button" value="LOGOUT"/>
							</div>

						</div>
					<%else%>
						<div class="loginBox">
							<span class="loginText"><%= t "header.login"%></span>
							<span class="spriteIcon downArrow"></span>

							<div class="loginPanel">
								<div class="uptri"></div>
								<form action="/user/attempt-login" method="POST" id="loginForm">
									
									<input type="email" id="email" name="email" placeholder="Email"></input>
									<input type="password" id="password" name="password" placeholder="Password"></input>
									
									<div class="loginSubmitBtn">
									<input class="spriteIcon" type="submit" value="<%= t "header.login" %>" onClick="submitForm()"></input>

									<span><%= t "header.forgotPassword" %></span><br />
									</div>
									
									<input type="password" name="password_confirm" placeholder="Retype Password" class="signupPasswordField" style="display:none"></input>
									
									<span class="signupError"><%= t "header.noAccount" %></span>
									<span class="signup_btn"><%= t "header.signup" %></span>
								</form>
							</div>
						</div>
							
					<%end%>
				

				</li>
				<li>
					<input type="text" class="search"></input>
					<span class="spriteIcon searchIcon"></span>
				</li>
			</ul>
		<%end%>
	</div>
</div>

<script>


	$("body").click(function(evt){
		$(".loginSubmitBtn").css({
			display:'block'
		});
		$(".signupPasswordField").css({
			display:'none'
		});
		$(".loginPanel").css({
			display: 'none'
		});
		$(".logoutPanel").css({
			display: 'none'
		});
		$('#loginForm').removeData('validator');
		$('#loginForm :input')[1].placeholder = "Password"
		
	});


	$(".loginBox").click(function(evt){
		if ($(".loginPanel").css('display') == 'none')
		{
			$(".loginPanel").css({
				display: 'block'
			});
		}
		else
		{
			if($(evt.target).attr("class") === "loginText" || $(evt.target).attr("class") === "spriteIcon downArrow"){
				$(".loginPanel").css({
					display: 'none'
				});
			}	
		if($(evt.target).attr("class") === "signup_btn"){
			if ($(".loginSubmitBtn").css('display') == 'block')
			{
				validateSignupForm();
				$(".loginSubmitBtn").css({
					display:'none'
				});
				$(".signupPasswordField").css({
					display:'block'
				});
				$('#loginForm :input')[1].placeholder = "Password, 5 charecters at least";

			}
			else
			{

				var signupFormSubmission = function(){
				var $inputs = $('#loginForm :input');
				$inputs[0].name = "user[email]";
				$inputs[1].name = "user[password]";
				
				var form = $('#loginForm')
				form.attr("action","/users")
				form.attr("commit","Create User")
				form.submit();
				}

				$("#loginForm input").keypress(
			    function(event){
			     if (event.which == '13') {
			        event.preventDefault();
			        signupFormSubmission();
			      	}
				});

				

				signupFormSubmission();
			}


			}

		}		
		return false;
	
	});

$(".logoutBox").click(function(evt){
		if ($(".logoutPanel").css('display') == 'none')
		{
			$(".logoutPanel").css({
				display: 'block'
			});
		}
		else
		{
			if($(evt.target).attr("class") === "loginText" || $(evt.target).attr("class") === "spriteIcon downArrow"){
				$(".logoutPanel").css({
					display: 'none'
				});
			}	
				}		
		return false;

	});



	function submitForm()
	{
		$("#loginForm").submit();
	}

	$('.logoutBtn').click(function(){
		window.location = "/user/logout"
	});



	var validateSignupForm = function(){


$('#loginForm').validate({
						        errorPlacement: function (error, element) {
						            $('.signupError').text(error.text())

						        },
						        rules: {
						            email: {
						                required: true,
						                email: true
						            },
						            password: {
						                required: true,
						                minlength: 5
						            },
									password_confirm : {
										minlength : 5,
										equalTo : "#password"
									}
								},
						        messages:{
							        password:{
							        	required: "Type your password",
							        	minlength:"need at least 5 charecters"
							        },
							        email:{
							            required: "Type your e-mail",
							            email: "not a valid e-mail"
							        },
							        password_confirm:{
							        	required:"enter password again",
							        	minlength:"need at least 5 charecters",
							        	equalTo: "password don't match"
							        }
							    }
						     
						    });
	
}
</script>