<div class="floatLeft articlesLeftPanel">
	<ul>
		<li class="<%=type%>">POPULARITY</li>
		<li><a href="/<%=scope%>/<%=type%>?order=latest">Latest</a></li>
		<li><a href="/<%=scope%>/<%=type%>?order=views">Most Read</a></li>
		<li><a href="/<%=scope%>/<%=type%>?order=shared">Most Shared</a></li>
	</ul>
	<ul>
		<li class="<%=type%>">CATEGORIES</li>
		<li><a href="/<%=scope%>/<%=type%>?category=allergy">Allergy</a></li>
		<li><a href="/<%=scope%>/<%=type%>?category=chronic">Chronic</a></li>
		<li><a href="/<%=scope%>/<%=type%>?category=healing">Healing</a></li>
	</ul>
</div>