<%if @section.present?%>
	<ul class="admin-tabs dottebBottom">
		<li class="admin-tab <%= @type == "article" ? "selected" : "" %>">
			<a href="/admin/<%=@section%>/articles">
				<span>Articles</span>
			</a>
		</li>
		<li class="admin-tab <%= @type == "video" ? "selected" : "" %>">
			<a href="/admin/<%=@section%>/videos">
				<span>Videos</span>
			</a>
		</li>
		<li class="admin-tab <%= @type == "case study" ? "selected" : "" %>">
			<a href="/admin/<%=@section%>/case-studies">
				<span>Case Studies</span>
			</a>
		</li>
		<% if @section === "clinic" %>
			<li class="admin-tab <%= params[:controller] == "admin/events" ? "selected" : "" %>">
				<a href="/admin/<%=@section%>/events">
					<span>Events</span>
				</a>
			</li>
		<%else%>
			<li class="admin-tab <%= params[:controller] == "admin/courses" ? "selected" : "" %>">
				<a href="/admin/<%=@section%>/courses">
					<span>Courses</span>
				</a>
			</li>
		<%end%>
		<li class="admin-tab <%= params[:controller] == "admin/doctors" ? "selected" : "" %>">
			<a href="/admin/<%=@section%>/doctors">
				<span>Team</span>
			</a>
		</li>
	</ul>

<%end%>