<style type="text/css">

table td{

	text-align:center;
	vertical-align:center;
}

</style>
<%= render :partial => "/admin/shared/header" %>
<%= render :partial => "/admin/shared/tabs" %>
<div class="articleList">
	  <div class="upperbar">
		<h2 class="floatLeft">Courses Dashboard</h2>
		<div class="page floatRight">
			<ul></ul>
		</div>
		<%= button_to 'New Course', new_admin_course_path,:class=>"btn btn_newArticle floatRight",:method => :get %>
		<div style="clear:both"></div>

	</div>
	<table>
		<tr>
			<th>Course type</th>
			<th>Title</th>
		
			<th></th>
			<th></th>
		
		</tr>

		<% @admin_courses.each do |admin_course| %>
			<tr>
				<td><%= admin_course.course_type %></td>
				<td><%= admin_course.title %></td>
				
				<!--<td><%= link_to 'Show', admin_course %></td>-->
				<td><a href="/admin/academy/courses/<%=admin_course[:id]%>/edit"><span class="adminSprite editIcon"></span></a><!--<%= link_to 'Edit', edit_admin_course_path(admin_course) %>--></td>
				<td><a href="/admin/academy/courses/<%=admin_course[:id]%>" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><span class="adminSprite crossIcon"></span></a><!--<%= link_to 'Delete', admin_course, confirm: 'Are you sure?', method: :delete %>--></td>
			</tr>
		<% end %>
	</table>
</div>
<br />


