<h1>Listing Courses</h1>

<table>
  <tr>
    <th>Course type</th>
    <th>Title</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Timing</th>
    <th>Venue</th>
    <th>Description</th>
    <th>Fees</th>
    <th>Discounts</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_courses.each do |admin_course| %>
  <tr>
    <td><%= admin_course.course_type %></td>
    <td><%= admin_course.title %></td>
    <td><%= admin_course.start_date %></td>
    <td><%= admin_course.end_date %></td>
    <td><%= admin_course.timing %></td>
    <td><%= admin_course.venue %></td>
    <td><%= admin_course.description %></td>
    <td><%= admin_course.fees %></td>
    <td><%= admin_course.discounts %></td>
    <td><%= link_to 'Show', admin_course %></td>
    <td><%= link_to 'Edit', edit_admin_course_path(admin_course) %></td>
    <td><%= link_to 'Destroy', admin_course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_admin_course_path %>
