<!DOCTYPE html>
<html>
<head>
  <title>TheOtherSongClinic</title>
  
 <meta charset="utf-8">
<%= stylesheet_link_tag "application" %>


<%= stylesheet_link_tag 'mobile' if mobile_device? %>

<% if mobile_device? %>
<meta content="width=device-width, initial-scale=1" name="viewport">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css">
<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    
<%end%>

 
<%= csrf_meta_tags %>
<script src="/scripts/jquery-1.9.1.min.js"></script>
<script src="/scripts/jquery.slides.min.js"></script>
</head>
<body>

<% if mobile_device? %>
<%=render :partial=> "shared/mobile_header"%>               
 <%= yield %>			
<%=render :partial=> "shared/mobile_footer"%>
    </div>
<%else%>
<%=render :partial=> "home/shared/menu"%>
<div class="contentWrap">
<%= yield %>
</div>
<%=render :partial=> "home/shared/footer"%>
<%end%>

</body>
</html>
